flows/Tabla-potenciadep.json
{"flowContents":{"identifier":"7cff19d4-2de2-3957-9417-8a0338750443","instanceIdentifier":"636be73c-0196-1000-a4e9-83ddab0da881","name":"Tabla-potenciadep","comments":"Comunicacion Nifi y Kafka v2 con envio de datos de la tabla potencia_dep pero solo por mes **2019-01-01 hasta el 2019-02-01** de todos los alimentadores","position":{"x":-328.0,"y":-424.0},"processGroups":[{"identifier":"931bc6ff-9df8-3e05-ba74-b7e158593720","instanceIdentifier":"5074b28d-c360-30f9-04a2-653d770bcb0b","name":"Grupo Productor","comments":"","position":{"x":-1080.0,"y":-272.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"e6d8852b-256c-3d08-abe7-0cc819579ac1","instanceIdentifier":"2b6dd61e-1514-3bf1-6452-eb5a13c8d582","name":"P.2-ConvertRecord","comments":"","position":{"x":-576.0,"y":-624.0},"type":"org.apache.nifi.processors.standard.ConvertRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"Include Zero Record FlowFiles":"true","Record Writer":"6b66bf0b-05c9-3b22-91b3-1b43deed96cf","Record Reader":"69bbb47b-292e-3703-955c-b5281e40bb09"},"propertyDescriptors":{"Include Zero Record FlowFiles":{"name":"Include Zero Record FlowFiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{"background-color":"#dcacfb"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":6,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"931bc6ff-9df8-3e05-ba74-b7e158593720"},{"identifier":"47fc28b8-45ce-3fce-98b8-59b66a24d63b","instanceIdentifier":"8d38053b-33b2-3de6-e2c7-12f166741b0b","name":"P5-PublishKafka","comments":"","position":{"x":-1264.0,"y":-136.0},"type":"org.apache.nifi.kafka.processors.PublishKafka","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-nar","version":"2.2.0"},"properties":{"compression.type":"snappy","acks":"0","Message Demarcator":null,"Kafka Key Attribute Encoding":"utf-8","Record Reader":null,"Record Metadata Strategy":"FROM_PROPERTIES","Transactional ID Prefix":null,"Header Encoding":"UTF-8","max.request.size":"1 MB","Topic Name":"potencia-depurada-mes4-1745810021","Kafka Key":null,"partition":null,"Kafka Connection Service":"81387932-e1aa-369c-a6ae-3bd90a3c01af","Publish Strategy":"USE_VALUE","Record Key Writer":null,"Failure Strategy":"Route to Failure","partitioner.class":"org.apache.kafka.clients.producer.internals.DefaultPartitioner","Record Writer":null,"Transactions Enabled":"false","Message Key Field":null,"FlowFile Attribute Header Pattern":null},"propertyDescriptors":{"compression.type":{"name":"compression.type","displayName":"Compression Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"acks":{"name":"acks","displayName":"Delivery Guarantee","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Message Demarcator":{"name":"Message Demarcator","displayName":"Message Demarcator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Kafka Key Attribute Encoding":{"name":"Kafka Key Attribute Encoding","displayName":"Kafka Key Attribute Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Metadata Strategy":{"name":"Record Metadata Strategy","displayName":"Record Metadata Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Transactional ID Prefix":{"name":"Transactional ID Prefix","displayName":"Transactional ID Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Header Encoding":{"name":"Header Encoding","displayName":"Header Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max.request.size":{"name":"max.request.size","displayName":"Max Request Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Topic Name":{"name":"Topic Name","displayName":"Topic Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Kafka Key":{"name":"Kafka Key","displayName":"Kafka Key","identifiesControllerService":false,"sensitive":false,"dynamic":false},"partition":{"name":"partition","displayName":"Partition","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Kafka Connection Service":{"name":"Kafka Connection Service","displayName":"Kafka Connection Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Publish Strategy":{"name":"Publish Strategy","displayName":"Publish Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Key Writer":{"name":"Record Key Writer","displayName":"Record Key Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Failure Strategy":{"name":"Failure Strategy","displayName":"Failure Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"partitioner.class":{"name":"partitioner.class","displayName":"Partitioner Class","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Transactions Enabled":{"name":"Transactions Enabled","displayName":"Transactions Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Message Key Field":{"name":"Message Key Field","displayName":"Message Key Field","identifiesControllerService":false,"sensitive":false,"dynamic":false},"FlowFile Attribute Header Pattern":{"name":"FlowFile Attribute Header Pattern","displayName":"FlowFile Attribute Header Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{"background-color":"#ae8484"},"schedulingPeriod":"50 ms","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":6,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"931bc6ff-9df8-3e05-ba74-b7e158593720"},{"identifier":"93a3deb1-2e72-3803-a560-769dabbe9d5e","instanceIdentifier":"132ed7b1-19c7-3fc1-0e0f-eda7c207604a","name":"P.1-QueryDatabaseTable","comments":"","position":{"x":-1272.0,"y":-632.0},"type":"org.apache.nifi.processors.standard.QueryDatabaseTable","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"default.end.date":"CURRENT_DATE","Table Name":"potencia_dep","db-fetch-db-type":"PostgreSQL","dbf-default-precision":"10","Set Auto Commit":null,"Max Wait Time":"30 seconds","Database Connection Pooling Service":"739fc33c-749f-3ad5-aa18-27a2f0aab606","Maximum-value Columns":null,"dbf-user-logical-types":"false","qdbt-output-batch-size":"1000","qdbt-max-rows":"0","qdbt-max-frags":"10","dbf-default-scale":"0","initial-load-strategy":"Start at Beginning","Fetch Size":"1000","db-fetch-sql-query":"/* CONSULTA BASE - NO MODIFICAR MANUALMENTE */\nSELECT \n    fecha, \n    hora, \n    alimentador, \n    dia_semana, \n    potencia_activa, \n    potencia_reactiva\nFROM potencia_dep \nWHERE 1=1\nORDER BY fecha, hora, alimentador\nLIMIT 500000","Columns to Return":null,"default.start.date":"\t\nCURRENT_DATE - INTERVAL '1 day'","db-fetch-where-clause":null,"dbf-normalize":"false","transaction-isolation-level":null,"Database Dialect Service":null},"propertyDescriptors":{"default.end.date":{"name":"default.end.date","displayName":"default.end.date","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Table Name":{"name":"Table Name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"db-fetch-db-type":{"name":"db-fetch-db-type","displayName":"Database Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Set Auto Commit":{"name":"Set Auto Commit","displayName":"Set Auto Commit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Maximum-value Columns":{"name":"Maximum-value Columns","displayName":"Maximum-value Columns","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-user-logical-types":{"name":"dbf-user-logical-types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false,"dynamic":false},"qdbt-output-batch-size":{"name":"qdbt-output-batch-size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"qdbt-max-rows":{"name":"qdbt-max-rows","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false,"dynamic":false},"qdbt-max-frags":{"name":"qdbt-max-frags","displayName":"Maximum Number of Fragments","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false,"dynamic":false},"initial-load-strategy":{"name":"initial-load-strategy","displayName":"Initial Load Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Fetch Size":{"name":"Fetch Size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"db-fetch-sql-query":{"name":"db-fetch-sql-query","displayName":"Custom Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Columns to Return":{"name":"Columns to Return","displayName":"Columns to Return","identifiesControllerService":false,"sensitive":false,"dynamic":false},"default.start.date":{"name":"default.start.date","displayName":"default.start.date","identifiesControllerService":false,"sensitive":false,"dynamic":true},"db-fetch-where-clause":{"name":"db-fetch-where-clause","displayName":"Additional WHERE clause","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-normalize":{"name":"dbf-normalize","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"transaction-isolation-level":{"name":"transaction-isolation-level","displayName":"Transaction Isolation Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Dialect Service":{"name":"Database Dialect Service","displayName":"Database Dialect Service","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{"background-color":"#aedeea"},"schedulingPeriod":"120 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"PRIMARY","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"931bc6ff-9df8-3e05-ba74-b7e158593720"},{"identifier":"d96ff400-9fdf-393c-974a-969a732f3c1f","instanceIdentifier":"4ada6bd5-c816-3289-12d2-535853ec3d7f","name":"P.3-SplitJson","comments":"","position":{"x":-568.0,"y":-392.0},"type":"org.apache.nifi.processors.standard.SplitJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"Max String Length":"5 MB","Null Value Representation":"empty string","JsonPath Expression":"$[*]"},"propertyDescriptors":{"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":8,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"931bc6ff-9df8-3e05-ba74-b7e158593720"},{"identifier":"14e97e3c-8bfe-30e9-bb45-fdfaeac9b877","instanceIdentifier":"e2e4fc91-275d-388b-277d-1d074573e7b1","name":"P.4-MergeContent","comments":"","position":{"x":-1264.0,"y":-408.0},"type":"org.apache.nifi.processors.standard.MergeContent","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"Keep Path":"false","Maximum Group Size":null,"Merge Strategy":"Bin-Packing Algorithm","Attribute Strategy":"Keep Only Common Attributes","FlowFile Insertion Strategy":"Last in Bin","Compression Level":"1","Maximum Number of Entries":"200","Minimum Group Size":"0 B","Maximum number of Bins":"5","Tar Modified Time":"${file.lastModifiedTime}","Delimiter Strategy":"Do Not Use Delimiters","Merge Format":"Binary Concatenation","Footer File":null,"Max Bin Age":"30 sec","Demarcator File":null,"Correlation Attribute Name":null,"Bin Termination Check":null,"Header File":null,"mergecontent-metadata-strategy":"Do Not Merge Uncommon Metadata","Minimum Number of Entries":"200"},"propertyDescriptors":{"Keep Path":{"name":"Keep Path","displayName":"Keep Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Group Size":{"name":"Maximum Group Size","displayName":"Maximum Group Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Merge Strategy":{"name":"Merge Strategy","displayName":"Merge Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attribute Strategy":{"name":"Attribute Strategy","displayName":"Attribute Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"FlowFile Insertion Strategy":{"name":"FlowFile Insertion Strategy","displayName":"FlowFile Insertion Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Compression Level":{"name":"Compression Level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Number of Entries":{"name":"Maximum Number of Entries","displayName":"Maximum Number of Entries","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum Group Size":{"name":"Minimum Group Size","displayName":"Minimum Group Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum number of Bins":{"name":"Maximum number of Bins","displayName":"Maximum number of Bins","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Tar Modified Time":{"name":"Tar Modified Time","displayName":"Tar Modified Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Delimiter Strategy":{"name":"Delimiter Strategy","displayName":"Delimiter Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Merge Format":{"name":"Merge Format","displayName":"Merge Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Footer File":{"name":"Footer File","displayName":"Footer","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["TEXT","FILE"]}},"Max Bin Age":{"name":"Max Bin Age","displayName":"Max Bin Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Demarcator File":{"name":"Demarcator File","displayName":"Demarcator","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["TEXT","FILE"]}},"Correlation Attribute Name":{"name":"Correlation Attribute Name","displayName":"Correlation Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Bin Termination Check":{"name":"Bin Termination Check","displayName":"Bin Termination Check","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Header File":{"name":"Header File","displayName":"Header","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["TEXT","FILE"]}},"mergecontent-metadata-strategy":{"name":"mergecontent-metadata-strategy","displayName":"Metadata Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum Number of Entries":{"name":"Minimum Number of Entries","displayName":"Minimum Number of Entries","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":6,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"931bc6ff-9df8-3e05-ba74-b7e158593720"},{"identifier":"86b09189-babd-35ed-87df-a0c1c10192c2","instanceIdentifier":"17552b65-9986-39ab-6bb7-1947b3f6f353","name":"P.6-PutDatabaseRecord","comments":"","position":{"x":-544.0,"y":-152.0},"type":"org.apache.nifi.processors.standard.PutDatabaseRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"put-db-record-allow-multiple-statements":"false","put-db-record-schema-name":"public","put-db-record-field-containing-sql":null,"put-db-record-unmatched-column-behavior":"Fail on Unmatched Columns","Delete Keys":null,"put-db-record-catalog-name":null,"put-db-record-statement-type":"INSERT","put-db-record-update-keys":null,"put-db-record-quoted-identifiers":"false","put-db-record-unmatched-field-behavior":"Ignore Unmatched Fields","put-db-record-max-batch-size":"1000","Database Dialect Service":null,"Data Record Path":null,"database-session-autocommit":"false","table-schema-cache-size":"100","put-db-record-quoted-table-identifiers":"false","Statement Type Record Path":null,"Column Name Translation Pattern":null,"put-db-record-translate-field-names":"true","put-db-record-dcbp-service":"75658ec1-ac81-3c14-ad33-f98964247e05","put-db-record-query-timeout":"0 seconds","Column Name Translation Strategy":"REMOVE_UNDERSCORE","rollback-on-failure":"false","put-db-record-binary-format":"UTF-8","db-type":"PostgreSQL","put-db-record-table-name":"datos_enviados","put-db-record-record-reader":"f0e9d9be-e776-325c-b5f5-de5451e36e10"},"propertyDescriptors":{"put-db-record-allow-multiple-statements":{"name":"put-db-record-allow-multiple-statements","displayName":"Allow Multiple SQL Statements","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-schema-name":{"name":"put-db-record-schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-field-containing-sql":{"name":"put-db-record-field-containing-sql","displayName":"Field Containing SQL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-unmatched-column-behavior":{"name":"put-db-record-unmatched-column-behavior","displayName":"Unmatched Column Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Delete Keys":{"name":"Delete Keys","displayName":"Delete Keys","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-catalog-name":{"name":"put-db-record-catalog-name","displayName":"Catalog Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-statement-type":{"name":"put-db-record-statement-type","displayName":"Statement Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-update-keys":{"name":"put-db-record-update-keys","displayName":"Update Keys","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-quoted-identifiers":{"name":"put-db-record-quoted-identifiers","displayName":"Quote Column Identifiers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-unmatched-field-behavior":{"name":"put-db-record-unmatched-field-behavior","displayName":"Unmatched Field Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-max-batch-size":{"name":"put-db-record-max-batch-size","displayName":"Maximum Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Dialect Service":{"name":"Database Dialect Service","displayName":"Database Dialect Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Data Record Path":{"name":"Data Record Path","displayName":"Data Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"database-session-autocommit":{"name":"database-session-autocommit","displayName":"Database Session AutoCommit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"table-schema-cache-size":{"name":"table-schema-cache-size","displayName":"Table Schema Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-quoted-table-identifiers":{"name":"put-db-record-quoted-table-identifiers","displayName":"Quote Table Identifiers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Statement Type Record Path":{"name":"Statement Type Record Path","displayName":"Statement Type Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Column Name Translation Pattern":{"name":"Column Name Translation Pattern","displayName":"Column Name Translation Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-translate-field-names":{"name":"put-db-record-translate-field-names","displayName":"Translate Field Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-dcbp-service":{"name":"put-db-record-dcbp-service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"put-db-record-query-timeout":{"name":"put-db-record-query-timeout","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Column Name Translation Strategy":{"name":"Column Name Translation Strategy","displayName":"Column Name Translation Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"rollback-on-failure":{"name":"rollback-on-failure","displayName":"Rollback On Failure","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-binary-format":{"name":"put-db-record-binary-format","displayName":"Binary String Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"db-type":{"name":"db-type","displayName":"Database Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-table-name":{"name":"put-db-record-table-name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-record-reader":{"name":"put-db-record-record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":6,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"931bc6ff-9df8-3e05-ba74-b7e158593720"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"79b9f265-62c0-35af-9083-0387ea5b1881","instanceIdentifier":"d402d29a-a743-36e2-5e72-15d80d1eddae","name":"","source":{"id":"d96ff400-9fdf-393c-974a-969a732f3c1f","type":"PROCESSOR","groupId":"931bc6ff-9df8-3e05-ba74-b7e158593720","name":"P.3-SplitJson","comments":"","instanceIdentifier":"4ada6bd5-c816-3289-12d2-535853ec3d7f"},"destination":{"id":"14e97e3c-8bfe-30e9-bb45-fdfaeac9b877","type":"PROCESSOR","groupId":"931bc6ff-9df8-3e05-ba74-b7e158593720","name":"P.4-MergeContent","comments":"","instanceIdentifier":"e2e4fc91-275d-388b-277d-1d074573e7b1"},"labelIndex":0,"zIndex":0,"selectedRelationships":["split"],"backPressureObjectThreshold":450000,"backPressureDataSizeThreshold":"45 GB","flowFileExpiration":"18 min","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"931bc6ff-9df8-3e05-ba74-b7e158593720"},{"identifier":"d5c83f26-c65d-3770-a26a-3038fca0c31c","instanceIdentifier":"543dc3d1-1d12-340d-9407-8127ae2e3a23","name":"","source":{"id":"14e97e3c-8bfe-30e9-bb45-fdfaeac9b877","type":"PROCESSOR","groupId":"931bc6ff-9df8-3e05-ba74-b7e158593720","name":"P.4-MergeContent","comments":"","instanceIdentifier":"e2e4fc91-275d-388b-277d-1d074573e7b1"},"destination":{"id":"09fe95b5-a5a1-317f-8603-88d44f8f5e11","type":"FUNNEL","groupId":"931bc6ff-9df8-3e05-ba74-b7e158593720","name":"Funnel","comments":"","instanceIdentifier":"8dd1fe39-9f48-3730-b999-9678c76312d5"},"labelIndex":0,"zIndex":0,"selectedRelationships":["merged"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"18 min","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"931bc6ff-9df8-3e05-ba74-b7e158593720"},{"identifier":"09dbafab-df68-3ccd-b1de-6b5c1f3cada4","instanceIdentifier":"1dbf49ef-c4d3-34b6-2342-c69c56d166f7","name":"","source":{"id":"14e97e3c-8bfe-30e9-bb45-fdfaeac9b877","type":"PROCESSOR","groupId":"931bc6ff-9df8-3e05-ba74-b7e158593720","name":"P.4-MergeContent","comments":"","instanceIdentifier":"e2e4fc91-275d-388b-277d-1d074573e7b1"},"destination":{"id":"09fe95b5-a5a1-317f-8603-88d44f8f5e11","type":"FUNNEL","groupId":"931bc6ff-9df8-3e05-ba74-b7e158593720","name":"Funnel","comments":"","instanceIdentifier":"8dd1fe39-9f48-3730-b999-9678c76312d5"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-1448.0,"y":-400.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"931bc6ff-9df8-3e05-ba74-b7e158593720"},{"identifier":"39bd29f8-dc36-3be0-96fc-90a080f8b0d8","instanceIdentifier":"4ed6c699-a66d-3044-6f6b-8032302499f9","name":"","source":{"id":"86b09189-babd-35ed-87df-a0c1c10192c2","type":"PROCESSOR","groupId":"931bc6ff-9df8-3e05-ba74-b7e158593720","name":"P.6-PutDatabaseRecord","comments":"","instanceIdentifier":"17552b65-9986-39ab-6bb7-1947b3f6f353"},"destination":{"id":"041d9b66-ef3d-3c46-8faa-e00cb7bbc2fb","type":"FUNNEL","groupId":"931bc6ff-9df8-3e05-ba74-b7e158593720","name":"Funnel","comments":"","instanceIdentifier":"c33454cc-487d-37ae-4980-229b3533e8e4"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":450000,"backPressureDataSizeThreshold":"45 GB","flowFileExpiration":"18 min","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"931bc6ff-9df8-3e05-ba74-b7e158593720"},{"identifier":"a57c1d26-1abe-33bb-8c25-0b67db764404","instanceIdentifier":"d97b5524-c569-3981-c432-6f3ea6eb4a28","name":"","source":{"id":"86b09189-babd-35ed-87df-a0c1c10192c2","type":"PROCESSOR","groupId":"931bc6ff-9df8-3e05-ba74-b7e158593720","name":"P.6-PutDatabaseRecord","comments":"","instanceIdentifier":"17552b65-9986-39ab-6bb7-1947b3f6f353"},"destination":{"id":"041d9b66-ef3d-3c46-8faa-e00cb7bbc2fb","type":"FUNNEL","groupId":"931bc6ff-9df8-3e05-ba74-b7e158593720","name":"Funnel","comments":"","instanceIdentifier":"c33454cc-487d-37ae-4980-229b3533e8e4"},"labelIndex":0,"zIndex":0,"selectedRelationships":["retry"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"10 min","prioritizers":[],"bends":[{"x":40.0,"y":16.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"931bc6ff-9df8-3e05-ba74-b7e158593720"},{"identifier":"6bed5176-e3ff-38ba-a8f1-166ca528ef99","instanceIdentifier":"cba0acc4-e182-3927-22a8-d59bbadb03c1","name":"","source":{"id":"47fc28b8-45ce-3fce-98b8-59b66a24d63b","type":"PROCESSOR","groupId":"931bc6ff-9df8-3e05-ba74-b7e158593720","name":"P5-PublishKafka","comments":"","instanceIdentifier":"8d38053b-33b2-3de6-e2c7-12f166741b0b"},"destination":{"id":"7cb5647d-f5d3-312f-8d6d-e2a6eac669eb","type":"FUNNEL","groupId":"931bc6ff-9df8-3e05-ba74-b7e158593720","name":"Funnel","comments":"","instanceIdentifier":"fe7a5f0b-6d51-39a9-2119-bbbfb77837d1"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"931bc6ff-9df8-3e05-ba74-b7e158593720"},{"identifier":"2263cf63-25ff-35f0-a0d0-53caf6c3976f","instanceIdentifier":"68a55589-9948-3efa-ad91-f33ffbbaac00","name":"","source":{"id":"14e97e3c-8bfe-30e9-bb45-fdfaeac9b877","type":"PROCESSOR","groupId":"931bc6ff-9df8-3e05-ba74-b7e158593720","name":"P.4-MergeContent","comments":"","instanceIdentifier":"e2e4fc91-275d-388b-277d-1d074573e7b1"},"destination":{"id":"47fc28b8-45ce-3fce-98b8-59b66a24d63b","type":"PROCESSOR","groupId":"931bc6ff-9df8-3e05-ba74-b7e158593720","name":"P5-PublishKafka","comments":"","instanceIdentifier":"8d38053b-33b2-3de6-e2c7-12f166741b0b"},"labelIndex":0,"zIndex":0,"selectedRelationships":["original"],"backPressureObjectThreshold":350000,"backPressureDataSizeThreshold":"35 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"931bc6ff-9df8-3e05-ba74-b7e158593720"},{"identifier":"5a6b3220-ad2b-387a-967a-6f0801598012","instanceIdentifier":"c52ecfdb-246d-38d0-f5fd-7b93c40254b9","name":"","source":{"id":"d96ff400-9fdf-393c-974a-969a732f3c1f","type":"PROCESSOR","groupId":"931bc6ff-9df8-3e05-ba74-b7e158593720","name":"P.3-SplitJson","comments":"","instanceIdentifier":"4ada6bd5-c816-3289-12d2-535853ec3d7f"},"destination":{"id":"0012cf21-c68b-3fa9-93d9-ada4c75daf9a","type":"FUNNEL","groupId":"931bc6ff-9df8-3e05-ba74-b7e158593720","name":"Funnel","comments":"","instanceIdentifier":"468088d9-abad-30b3-e2ad-6c7838698d02"},"labelIndex":0,"zIndex":0,"selectedRelationships":["original"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"18 min","prioritizers":[],"bends":[{"x":-40.0,"y":-368.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"931bc6ff-9df8-3e05-ba74-b7e158593720"},{"identifier":"e9469737-7ec2-3120-a96e-ef2370158258","instanceIdentifier":"c912ac4a-39f9-3d2a-430c-a1c777bcaef1","name":"","source":{"id":"e6d8852b-256c-3d08-abe7-0cc819579ac1","type":"PROCESSOR","groupId":"931bc6ff-9df8-3e05-ba74-b7e158593720","name":"P.2-ConvertRecord","comments":"","instanceIdentifier":"2b6dd61e-1514-3bf1-6452-eb5a13c8d582"},"destination":{"id":"d96ff400-9fdf-393c-974a-969a732f3c1f","type":"PROCESSOR","groupId":"931bc6ff-9df8-3e05-ba74-b7e158593720","name":"P.3-SplitJson","comments":"","instanceIdentifier":"4ada6bd5-c816-3289-12d2-535853ec3d7f"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":450000,"backPressureDataSizeThreshold":"45 GB","flowFileExpiration":"10 min","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"931bc6ff-9df8-3e05-ba74-b7e158593720"},{"identifier":"2e9676a1-257e-3360-8c3d-a4f680abb306","instanceIdentifier":"f0afaaeb-2dcf-378e-740d-2641ee705197","name":"","source":{"id":"e6d8852b-256c-3d08-abe7-0cc819579ac1","type":"PROCESSOR","groupId":"931bc6ff-9df8-3e05-ba74-b7e158593720","name":"P.2-ConvertRecord","comments":"","instanceIdentifier":"2b6dd61e-1514-3bf1-6452-eb5a13c8d582"},"destination":{"id":"dc2c3c2e-3ddd-3df8-b9cb-3680931b7faf","type":"FUNNEL","groupId":"931bc6ff-9df8-3e05-ba74-b7e158593720","name":"Funnel","comments":"","instanceIdentifier":"c2434a5d-e3b2-36b9-b708-b198e6893cbf"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"931bc6ff-9df8-3e05-ba74-b7e158593720"},{"identifier":"89bc1891-d004-3938-8ca5-fe35feaa9f2f","instanceIdentifier":"ad5484fe-9628-328d-1610-0ffb6a0653ce","name":"","source":{"id":"86b09189-babd-35ed-87df-a0c1c10192c2","type":"PROCESSOR","groupId":"931bc6ff-9df8-3e05-ba74-b7e158593720","name":"P.6-PutDatabaseRecord","comments":"","instanceIdentifier":"17552b65-9986-39ab-6bb7-1947b3f6f353"},"destination":{"id":"0012cf21-c68b-3fa9-93d9-ada4c75daf9a","type":"FUNNEL","groupId":"931bc6ff-9df8-3e05-ba74-b7e158593720","name":"Funnel","comments":"","instanceIdentifier":"468088d9-abad-30b3-e2ad-6c7838698d02"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"10 min","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"931bc6ff-9df8-3e05-ba74-b7e158593720"},{"identifier":"f2029f53-605d-372a-8446-2260559c7076","instanceIdentifier":"18b05d6f-c6a8-3243-939c-e6ed588c2752","name":"","source":{"id":"47fc28b8-45ce-3fce-98b8-59b66a24d63b","type":"PROCESSOR","groupId":"931bc6ff-9df8-3e05-ba74-b7e158593720","name":"P5-PublishKafka","comments":"","instanceIdentifier":"8d38053b-33b2-3de6-e2c7-12f166741b0b"},"destination":{"id":"86b09189-babd-35ed-87df-a0c1c10192c2","type":"PROCESSOR","groupId":"931bc6ff-9df8-3e05-ba74-b7e158593720","name":"P.6-PutDatabaseRecord","comments":"","instanceIdentifier":"17552b65-9986-39ab-6bb7-1947b3f6f353"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":350000,"backPressureDataSizeThreshold":"35 GB","flowFileExpiration":"18 min","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"931bc6ff-9df8-3e05-ba74-b7e158593720"},{"identifier":"bba6c9f6-5522-36a5-aa2a-568b713b9347","instanceIdentifier":"d0a3fa6f-3e5a-3e3a-26a1-f2ff2841b043","name":"","source":{"id":"93a3deb1-2e72-3803-a560-769dabbe9d5e","type":"PROCESSOR","groupId":"931bc6ff-9df8-3e05-ba74-b7e158593720","name":"P.1-QueryDatabaseTable","comments":"","instanceIdentifier":"132ed7b1-19c7-3fc1-0e0f-eda7c207604a"},"destination":{"id":"e6d8852b-256c-3d08-abe7-0cc819579ac1","type":"PROCESSOR","groupId":"931bc6ff-9df8-3e05-ba74-b7e158593720","name":"P.2-ConvertRecord","comments":"","instanceIdentifier":"2b6dd61e-1514-3bf1-6452-eb5a13c8d582"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":450000,"backPressureDataSizeThreshold":"45 GB","flowFileExpiration":"18 min","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"931bc6ff-9df8-3e05-ba74-b7e158593720"},{"identifier":"62f6f53a-e0b7-3005-998d-9cc66ffa1ced","instanceIdentifier":"cd0a4c36-093f-37ca-8b56-4a4f5abbcdab","name":"","source":{"id":"d96ff400-9fdf-393c-974a-969a732f3c1f","type":"PROCESSOR","groupId":"931bc6ff-9df8-3e05-ba74-b7e158593720","name":"P.3-SplitJson","comments":"","instanceIdentifier":"4ada6bd5-c816-3289-12d2-535853ec3d7f"},"destination":{"id":"0012cf21-c68b-3fa9-93d9-ada4c75daf9a","type":"FUNNEL","groupId":"931bc6ff-9df8-3e05-ba74-b7e158593720","name":"Funnel","comments":"","instanceIdentifier":"468088d9-abad-30b3-e2ad-6c7838698d02"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"931bc6ff-9df8-3e05-ba74-b7e158593720"}],"labels":[],"funnels":[{"identifier":"dc2c3c2e-3ddd-3df8-b9cb-3680931b7faf","instanceIdentifier":"c2434a5d-e3b2-36b9-b708-b198e6893cbf","position":{"x":48.0,"y":-480.0},"componentType":"FUNNEL","groupIdentifier":"931bc6ff-9df8-3e05-ba74-b7e158593720"},{"identifier":"041d9b66-ef3d-3c46-8faa-e00cb7bbc2fb","instanceIdentifier":"c33454cc-487d-37ae-4980-229b3533e8e4","position":{"x":232.0,"y":-88.0},"componentType":"FUNNEL","groupIdentifier":"931bc6ff-9df8-3e05-ba74-b7e158593720"},{"identifier":"7cb5647d-f5d3-312f-8d6d-e2a6eac669eb","instanceIdentifier":"fe7a5f0b-6d51-39a9-2119-bbbfb77837d1","position":{"x":-1616.0,"y":-96.0},"componentType":"FUNNEL","groupIdentifier":"931bc6ff-9df8-3e05-ba74-b7e158593720"},{"identifier":"09fe95b5-a5a1-317f-8603-88d44f8f5e11","instanceIdentifier":"8dd1fe39-9f48-3730-b999-9678c76312d5","position":{"x":-1624.0,"y":-336.0},"componentType":"FUNNEL","groupIdentifier":"931bc6ff-9df8-3e05-ba74-b7e158593720"},{"identifier":"0012cf21-c68b-3fa9-93d9-ada4c75daf9a","instanceIdentifier":"468088d9-abad-30b3-e2ad-6c7838698d02","position":{"x":104.0,"y":-272.0},"componentType":"FUNNEL","groupIdentifier":"931bc6ff-9df8-3e05-ba74-b7e158593720"}],"controllerServices":[{"identifier":"81387932-e1aa-369c-a6ae-3bd90a3c01af","instanceIdentifier":"a997b3c5-20a8-3df8-cf6a-43b8e643226f","name":"Kafka3ConnectionService","comments":"Este controlador Permite la conexción con kafka para el envio y la recepcion de datos con su conexión : \nkafka_centrosur:9092\nComo de igual forma su protocolo de seguridad que es un texto plano:\nSecurity Protocol\nPLAINTEXT","type":"org.apache.nifi.kafka.service.Kafka3ConnectionService","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-3-service-nar","version":"2.2.0"},"properties":{"security.protocol":"PLAINTEXT","SSL Context Service":null,"ack.wait.time":"5 sec","sasl.username":null,"max.poll.records":"10000","sasl.mechanism":"GSSAPI","isolation.level":"read_committed","max.block.ms":"5 sec","bootstrap.servers":"kafka_centrosur:9092","kerberos-user-service":null,"sasl.kerberos.service.name":null,"default.api.timeout.ms":"60 sec"},"propertyDescriptors":{"ack.wait.time":{"name":"ack.wait.time","displayName":"Acknowledgment Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sasl.username":{"name":"sasl.username","displayName":"SASL Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max.poll.records":{"name":"max.poll.records","displayName":"Max Poll Records","identifiesControllerService":false,"sensitive":false,"dynamic":false},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Bootstrap Servers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false,"dynamic":false},"isolation.level":{"name":"isolation.level","displayName":"Transaction Isolation Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max.block.ms":{"name":"max.block.ms","displayName":"Max Metadata Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sasl.password":{"name":"sasl.password","displayName":"SASL Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"default.api.timeout.ms":{"name":"default.api.timeout.ms","displayName":"Client Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.kafka.service.api.KafkaConnectionService","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-service-api-nar","version":"2.2.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"931bc6ff-9df8-3e05-ba74-b7e158593720"},{"identifier":"75658ec1-ac81-3c14-ad33-f98964247e05","instanceIdentifier":"8734e80d-4f9f-3bc9-83e0-ef322c0bb55a","name":"DBCPConnectionPool base prueba","comments":"","type":"org.apache.nifi.dbcp.DBCPConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-dbcp-service-nar","version":"2.2.0"},"properties":{"dbcp-min-idle-conns":"0","Max Wait Time":"500 millis","Database Driver Class Name":"org.postgresql.Driver","dbcp-min-evictable-idle-time":"30 mins","Max Total Connections":"8","dbcp-max-conn-lifetime":"-1","Validation-query":null,"Database Connection URL":"jdbc:postgresql://postgres_centrosur:5432/base_prueba","dbcp-time-between-eviction-runs":"-1","Database User":"postgres","kerberos-user-service":null,"dbcp-soft-min-evictable-idle-time":"-1","database-driver-locations":"/opt/nifi/nifi-current/drivers/postgresql-42.7.1.jar","dbcp-max-idle-conns":"8"},"propertyDescriptors":{"dbcp-min-idle-conns":{"name":"dbcp-min-idle-conns","displayName":"Minimum Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Driver Class Name":{"name":"Database Driver Class Name","displayName":"Database Driver Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-min-evictable-idle-time":{"name":"dbcp-min-evictable-idle-time","displayName":"Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Total Connections":{"name":"Max Total Connections","displayName":"Max Total Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-max-conn-lifetime":{"name":"dbcp-max-conn-lifetime","displayName":"Max Connection Lifetime","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Validation-query":{"name":"Validation-query","displayName":"Validation query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection URL":{"name":"Database Connection URL","displayName":"Database Connection URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-time-between-eviction-runs":{"name":"dbcp-time-between-eviction-runs","displayName":"Time Between Eviction Runs","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database User":{"name":"Database User","displayName":"Database User","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"dbcp-soft-min-evictable-idle-time":{"name":"dbcp-soft-min-evictable-idle-time","displayName":"Soft Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"database-driver-locations":{"name":"database-driver-locations","displayName":"Database Driver Location(s)","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","URL","FILE"]}},"dbcp-max-idle-conns":{"name":"dbcp-max-idle-conns","displayName":"Max Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.2.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"931bc6ff-9df8-3e05-ba74-b7e158593720"},{"identifier":"f0e9d9be-e776-325c-b5f5-de5451e36e10","instanceIdentifier":"43f3fc0f-0fff-3a69-c3b9-d595ec6d5568","name":"JsonTreeReader","comments":"","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.2.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"Max String Length":"20 MB","schema-application-strategy":"SELECTED_PART","Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-name":"${schema.name}","starting-field-strategy":"ROOT_NODE","schema-registry":null,"starting-field-name":null,"Time Format":null,"schema-access-strategy":"infer-schema","schema-version":null,"schema-text":"${avro.schema}","Allow Comments":"false"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-application-strategy":{"name":"schema-application-strategy","displayName":"Schema Application Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"starting-field-strategy":{"name":"starting-field-strategy","displayName":"Starting Field Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"starting-field-name":{"name":"starting-field-name","displayName":"Starting Field Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Comments":{"name":"Allow Comments","displayName":"Allow Comments","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.2.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"931bc6ff-9df8-3e05-ba74-b7e158593720"}],"defaultFlowFileExpiration":"10 min","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"7cff19d4-2de2-3957-9417-8a0338750443"},{"identifier":"d29e61c5-d615-3dd7-97aa-b134e2e522ea","instanceIdentifier":"cbfcfd50-8ce2-32ce-9ed9-be23540d202b","name":"Grupo Consumidor","comments":"","position":{"x":-376.0,"y":-264.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"37582abc-2b2b-3e83-9604-dd71d9444fe7","instanceIdentifier":"49f31676-d89f-365f-343e-a1ea1b00f0c0","name":"C.3-ReplaceText","comments":"","position":{"x":432.0,"y":56.0},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"Regular Expression":"(?s)(^.*$)","Replacement Value":"[{ \n  \"fecha\": \"${fecha:replaceNull(\"\")}\", \n  \"hora\": \"${hora:replaceNull(\"\")}\", \n  \"alimentador\": \"${alimentador:replaceNull(\"\")}\", \n  \"dia_semana\": ${dia_semana:replaceEmpty(\"0\"):replaceNull(\"0\")}, \n  \"potencia_activa\": ${potencia_activa:replaceEmpty(\"0.0\"):replaceNull(\"0.0\")}, \n  \"potencia_reactiva\": ${potencia_reactiva:replaceEmpty(\"0.0\"):replaceNull(\"0.0\")} \n}]","Evaluation Mode":"Line-by-Line","Text to Prepend":null,"Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Always Replace","Text to Append":null},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Prepend":{"name":"Text to Prepend","displayName":"Text to Prepend","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Append":{"name":"Text to Append","displayName":"Text to Append","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":6,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"d29e61c5-d615-3dd7-97aa-b134e2e522ea"},{"identifier":"6449717b-e10d-3dd8-b835-35feee9b1a71","instanceIdentifier":"770949d8-d3f2-30b1-2973-d8496c08a2ea","name":"C.4-PutDatabaseRecord","comments":"","position":{"x":-240.0,"y":48.0},"type":"org.apache.nifi.processors.standard.PutDatabaseRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"put-db-record-allow-multiple-statements":"false","put-db-record-schema-name":"public","put-db-record-field-containing-sql":null,"put-db-record-unmatched-column-behavior":"Ignore Unmatched Columns","Delete Keys":null,"put-db-record-catalog-name":null,"put-db-record-statement-type":"UPSERT","put-db-record-update-keys":null,"put-db-record-quoted-identifiers":"false","put-db-record-unmatched-field-behavior":"Ignore Unmatched Fields","put-db-record-max-batch-size":"100","Database Dialect Service":null,"Data Record Path":null,"database-session-autocommit":"false","table-schema-cache-size":"100","put-db-record-quoted-table-identifiers":"false","Statement Type Record Path":null,"Column Name Translation Pattern":null,"put-db-record-translate-field-names":"true","put-db-record-dcbp-service":"750c8a71-a5ae-340f-83b4-56c3e32974fa","put-db-record-query-timeout":"0 seconds","Column Name Translation Strategy":"REMOVE_UNDERSCORE","rollback-on-failure":"false","put-db-record-binary-format":"UTF-8","db-type":"PostgreSQL","put-db-record-table-name":"potencia_dep_processed","put-db-record-record-reader":"96d12aa7-8cac-33dd-b389-6321b875a7e5"},"propertyDescriptors":{"put-db-record-allow-multiple-statements":{"name":"put-db-record-allow-multiple-statements","displayName":"Allow Multiple SQL Statements","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-schema-name":{"name":"put-db-record-schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-field-containing-sql":{"name":"put-db-record-field-containing-sql","displayName":"Field Containing SQL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-unmatched-column-behavior":{"name":"put-db-record-unmatched-column-behavior","displayName":"Unmatched Column Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Delete Keys":{"name":"Delete Keys","displayName":"Delete Keys","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-catalog-name":{"name":"put-db-record-catalog-name","displayName":"Catalog Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-statement-type":{"name":"put-db-record-statement-type","displayName":"Statement Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-update-keys":{"name":"put-db-record-update-keys","displayName":"Update Keys","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-quoted-identifiers":{"name":"put-db-record-quoted-identifiers","displayName":"Quote Column Identifiers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-unmatched-field-behavior":{"name":"put-db-record-unmatched-field-behavior","displayName":"Unmatched Field Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-max-batch-size":{"name":"put-db-record-max-batch-size","displayName":"Maximum Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Dialect Service":{"name":"Database Dialect Service","displayName":"Database Dialect Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Data Record Path":{"name":"Data Record Path","displayName":"Data Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"database-session-autocommit":{"name":"database-session-autocommit","displayName":"Database Session AutoCommit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"table-schema-cache-size":{"name":"table-schema-cache-size","displayName":"Table Schema Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-quoted-table-identifiers":{"name":"put-db-record-quoted-table-identifiers","displayName":"Quote Table Identifiers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Statement Type Record Path":{"name":"Statement Type Record Path","displayName":"Statement Type Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Column Name Translation Pattern":{"name":"Column Name Translation Pattern","displayName":"Column Name Translation Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-translate-field-names":{"name":"put-db-record-translate-field-names","displayName":"Translate Field Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-dcbp-service":{"name":"put-db-record-dcbp-service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"put-db-record-query-timeout":{"name":"put-db-record-query-timeout","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Column Name Translation Strategy":{"name":"Column Name Translation Strategy","displayName":"Column Name Translation Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"rollback-on-failure":{"name":"rollback-on-failure","displayName":"Rollback On Failure","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-binary-format":{"name":"put-db-record-binary-format","displayName":"Binary String Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"db-type":{"name":"db-type","displayName":"Database Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-table-name":{"name":"put-db-record-table-name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-record-reader":{"name":"put-db-record-record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{"background-color":"#c3ffc2"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":6,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"d29e61c5-d615-3dd7-97aa-b134e2e522ea"},{"identifier":"de99480d-597f-353e-bd00-cae68a6f5d68","instanceIdentifier":"f0466d14-22be-35b2-c2d8-66e8dacba71d","name":"C.1-ConsumeKafka","comments":"","position":{"x":-248.0,"y":-176.0},"type":"org.apache.nifi.kafka.processors.ConsumeKafka","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-nar","version":"2.2.0"},"properties":{"Topics":"potencia_datos_depurados","Commit Offsets":"true","Header Name Pattern":null,"Key Format":"byte-array","Key Record Reader":null,"Message Demarcator":null,"Record Reader":null,"Key Attribute Encoding":"utf-8","Topic Format":"names","Header Encoding":"UTF-8","Max Uncommitted Time":"10 sec","Kafka Connection Service":"5228a756-a806-3ce0-9c5a-85ea2c9ed10d","Separate By Key":"false","Processing Strategy":"FLOW_FILE","Record Writer":null,"Group ID":"grupo-consumidor","auto.offset.reset":"earliest","Output Strategy":"USE_VALUE"},"propertyDescriptors":{"Topics":{"name":"Topics","displayName":"Topics","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Commit Offsets":{"name":"Commit Offsets","displayName":"Commit Offsets","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Header Name Pattern":{"name":"Header Name Pattern","displayName":"Header Name Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Key Format":{"name":"Key Format","displayName":"Key Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Key Record Reader":{"name":"Key Record Reader","displayName":"Key Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Message Demarcator":{"name":"Message Demarcator","displayName":"Message Demarcator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Key Attribute Encoding":{"name":"Key Attribute Encoding","displayName":"Key Attribute Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Topic Format":{"name":"Topic Format","displayName":"Topic Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Header Encoding":{"name":"Header Encoding","displayName":"Header Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Uncommitted Time":{"name":"Max Uncommitted Time","displayName":"Max Uncommitted Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Kafka Connection Service":{"name":"Kafka Connection Service","displayName":"Kafka Connection Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Separate By Key":{"name":"Separate By Key","displayName":"Separate By Key","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Processing Strategy":{"name":"Processing Strategy","displayName":"Processing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Group ID":{"name":"Group ID","displayName":"Group ID","identifiesControllerService":false,"sensitive":false,"dynamic":false},"auto.offset.reset":{"name":"auto.offset.reset","displayName":"Auto Offset Reset","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Strategy":{"name":"Output Strategy","displayName":"Output Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{"background-color":"#cdcbb7"},"schedulingPeriod":"500 ms","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":8,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"d29e61c5-d615-3dd7-97aa-b134e2e522ea"},{"identifier":"5940217b-0090-3664-9f76-f6b66e881125","instanceIdentifier":"4d496c11-afa8-3b5f-5a3e-46f11ccaeb3d","name":"C.2-EvaluateJsonPath","comments":"","position":{"x":416.0,"y":-176.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"Destination":"flowfile-attribute","fecha":"$.fecha","Max String Length":"20 MB","hora":"$.hora","Return Type":"auto-detect","potencia_activa":"$.potencia_activa","Null Value Representation":"empty string","potencia_reactiva":"$.potencia_reactiva","alimentador":"$.alimentador","Path Not Found Behavior":"warn","dia_semana":"$.dia_semana"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"fecha":{"name":"fecha","displayName":"fecha","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"hora":{"name":"hora","displayName":"hora","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"potencia_activa":{"name":"potencia_activa","displayName":"potencia_activa","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"potencia_reactiva":{"name":"potencia_reactiva","displayName":"potencia_reactiva","identifiesControllerService":false,"sensitive":false,"dynamic":true},"alimentador":{"name":"alimentador","displayName":"alimentador","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dia_semana":{"name":"dia_semana","displayName":"dia_semana","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{"background-color":"#fef0ff"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":6,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"d29e61c5-d615-3dd7-97aa-b134e2e522ea"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"8038ef1e-dd49-3c69-8ae3-0192471faaca","instanceIdentifier":"5529c589-cafd-3ecb-9e0f-d6126e33ad7a","name":"","source":{"id":"5940217b-0090-3664-9f76-f6b66e881125","type":"PROCESSOR","groupId":"d29e61c5-d615-3dd7-97aa-b134e2e522ea","name":"C.2-EvaluateJsonPath","comments":"","instanceIdentifier":"4d496c11-afa8-3b5f-5a3e-46f11ccaeb3d"},"destination":{"id":"a0184186-768a-31af-9ae2-121733f0cd79","type":"FUNNEL","groupId":"d29e61c5-d615-3dd7-97aa-b134e2e522ea","name":"Funnel","comments":"","instanceIdentifier":"04b6e66a-7fac-36a2-f49c-2107395a9855"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d29e61c5-d615-3dd7-97aa-b134e2e522ea"},{"identifier":"695c4aa2-d5ec-3d4c-b571-e9bcac5bdb67","instanceIdentifier":"926762e3-7e41-3c58-47f1-3f4656009b51","name":"","source":{"id":"5940217b-0090-3664-9f76-f6b66e881125","type":"PROCESSOR","groupId":"d29e61c5-d615-3dd7-97aa-b134e2e522ea","name":"C.2-EvaluateJsonPath","comments":"","instanceIdentifier":"4d496c11-afa8-3b5f-5a3e-46f11ccaeb3d"},"destination":{"id":"a0184186-768a-31af-9ae2-121733f0cd79","type":"FUNNEL","groupId":"d29e61c5-d615-3dd7-97aa-b134e2e522ea","name":"Funnel","comments":"","instanceIdentifier":"04b6e66a-7fac-36a2-f49c-2107395a9855"},"labelIndex":0,"zIndex":0,"selectedRelationships":["unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1000.0,"y":-112.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d29e61c5-d615-3dd7-97aa-b134e2e522ea"},{"identifier":"6ce8e08c-0c17-3275-bb72-b2cbc7f9a01d","instanceIdentifier":"0be04ff4-56dc-3367-01d6-c0bcf04bf709","name":"","source":{"id":"6449717b-e10d-3dd8-b835-35feee9b1a71","type":"PROCESSOR","groupId":"d29e61c5-d615-3dd7-97aa-b134e2e522ea","name":"C.4-PutDatabaseRecord","comments":"","instanceIdentifier":"770949d8-d3f2-30b1-2973-d8496c08a2ea"},"destination":{"id":"a97674de-6f95-3055-b9c2-a5f33245eb75","type":"FUNNEL","groupId":"d29e61c5-d615-3dd7-97aa-b134e2e522ea","name":"Funnel","comments":"","instanceIdentifier":"05da92c7-6b81-3e1f-15cb-c64ee572a4e5"},"labelIndex":0,"zIndex":0,"selectedRelationships":["retry"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"10 min","prioritizers":[],"bends":[{"x":-408.0,"y":216.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d29e61c5-d615-3dd7-97aa-b134e2e522ea"},{"identifier":"076d0d35-31a4-3e05-9572-194fcc06dbb3","instanceIdentifier":"be9b165c-3b6a-357e-3ce8-3ac6c9955b76","name":"","source":{"id":"37582abc-2b2b-3e83-9604-dd71d9444fe7","type":"PROCESSOR","groupId":"d29e61c5-d615-3dd7-97aa-b134e2e522ea","name":"C.3-ReplaceText","comments":"","instanceIdentifier":"49f31676-d89f-365f-343e-a1ea1b00f0c0"},"destination":{"id":"6449717b-e10d-3dd8-b835-35feee9b1a71","type":"PROCESSOR","groupId":"d29e61c5-d615-3dd7-97aa-b134e2e522ea","name":"C.4-PutDatabaseRecord","comments":"","instanceIdentifier":"770949d8-d3f2-30b1-2973-d8496c08a2ea"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":450000,"backPressureDataSizeThreshold":"45 GB","flowFileExpiration":"18 min","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d29e61c5-d615-3dd7-97aa-b134e2e522ea"},{"identifier":"2ff8fce6-2fa3-355f-af6c-813035a2026b","instanceIdentifier":"e071faae-9253-3d4e-4d35-a9e336a158a5","name":"","source":{"id":"37582abc-2b2b-3e83-9604-dd71d9444fe7","type":"PROCESSOR","groupId":"d29e61c5-d615-3dd7-97aa-b134e2e522ea","name":"C.3-ReplaceText","comments":"","instanceIdentifier":"49f31676-d89f-365f-343e-a1ea1b00f0c0"},"destination":{"id":"edd1629d-ae46-355f-b873-aeb5ee6a4a32","type":"FUNNEL","groupId":"d29e61c5-d615-3dd7-97aa-b134e2e522ea","name":"Funnel","comments":"","instanceIdentifier":"2dec7498-7e6d-3d20-a11d-a0182e90d7ff"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d29e61c5-d615-3dd7-97aa-b134e2e522ea"},{"identifier":"bdfb3c3d-0f35-3d02-8919-bc509e95d7b9","instanceIdentifier":"416757a3-b468-3019-d5ee-5de334a678ca","name":"","source":{"id":"6449717b-e10d-3dd8-b835-35feee9b1a71","type":"PROCESSOR","groupId":"d29e61c5-d615-3dd7-97aa-b134e2e522ea","name":"C.4-PutDatabaseRecord","comments":"","instanceIdentifier":"770949d8-d3f2-30b1-2973-d8496c08a2ea"},"destination":{"id":"a97674de-6f95-3055-b9c2-a5f33245eb75","type":"FUNNEL","groupId":"d29e61c5-d615-3dd7-97aa-b134e2e522ea","name":"Funnel","comments":"","instanceIdentifier":"05da92c7-6b81-3e1f-15cb-c64ee572a4e5"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-416.0,"y":40.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d29e61c5-d615-3dd7-97aa-b134e2e522ea"},{"identifier":"dc549dbc-40c4-33a9-9e7a-b0341474957f","instanceIdentifier":"c6973e49-7d0d-3304-e634-44c9dd2f2c72","name":"","source":{"id":"6449717b-e10d-3dd8-b835-35feee9b1a71","type":"PROCESSOR","groupId":"d29e61c5-d615-3dd7-97aa-b134e2e522ea","name":"C.4-PutDatabaseRecord","comments":"","instanceIdentifier":"770949d8-d3f2-30b1-2973-d8496c08a2ea"},"destination":{"id":"a97674de-6f95-3055-b9c2-a5f33245eb75","type":"FUNNEL","groupId":"d29e61c5-d615-3dd7-97aa-b134e2e522ea","name":"Funnel","comments":"","instanceIdentifier":"05da92c7-6b81-3e1f-15cb-c64ee572a4e5"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":700000,"backPressureDataSizeThreshold":"70 GB","flowFileExpiration":"18 min","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d29e61c5-d615-3dd7-97aa-b134e2e522ea"},{"identifier":"feee8b02-1a41-39c9-9cd4-c69a744585eb","instanceIdentifier":"92d7817a-7cdf-3c3e-fc21-f964b85135d5","name":"","source":{"id":"de99480d-597f-353e-bd00-cae68a6f5d68","type":"PROCESSOR","groupId":"d29e61c5-d615-3dd7-97aa-b134e2e522ea","name":"C.1-ConsumeKafka","comments":"","instanceIdentifier":"f0466d14-22be-35b2-c2d8-66e8dacba71d"},"destination":{"id":"5940217b-0090-3664-9f76-f6b66e881125","type":"PROCESSOR","groupId":"d29e61c5-d615-3dd7-97aa-b134e2e522ea","name":"C.2-EvaluateJsonPath","comments":"","instanceIdentifier":"4d496c11-afa8-3b5f-5a3e-46f11ccaeb3d"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":450000,"backPressureDataSizeThreshold":"45 GB","flowFileExpiration":"18 min","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d29e61c5-d615-3dd7-97aa-b134e2e522ea"},{"identifier":"8b29402a-81ec-3344-a7dc-8600168f482f","instanceIdentifier":"3ddf59a9-c530-3538-e934-51ef216c32f5","name":"","source":{"id":"5940217b-0090-3664-9f76-f6b66e881125","type":"PROCESSOR","groupId":"d29e61c5-d615-3dd7-97aa-b134e2e522ea","name":"C.2-EvaluateJsonPath","comments":"","instanceIdentifier":"4d496c11-afa8-3b5f-5a3e-46f11ccaeb3d"},"destination":{"id":"37582abc-2b2b-3e83-9604-dd71d9444fe7","type":"PROCESSOR","groupId":"d29e61c5-d615-3dd7-97aa-b134e2e522ea","name":"C.3-ReplaceText","comments":"","instanceIdentifier":"49f31676-d89f-365f-343e-a1ea1b00f0c0"},"labelIndex":0,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":450000,"backPressureDataSizeThreshold":"45 GB","flowFileExpiration":"18 min","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d29e61c5-d615-3dd7-97aa-b134e2e522ea"}],"labels":[{"identifier":"4a7ca649-fbc2-31e1-8826-bbf477b534bf","instanceIdentifier":"eafb34c5-b4ac-31af-5603-e84e180fef35","position":{"x":-1248.0,"y":864.0},"label":"Inserta datos JSON en una tabla específica de una base de datos PostgreSQL\nRecord Reader: JsonTreeReader, lee datos en formato JSON.\nDatabase Type: PostgreSQL, tipo de base de datos.\nStatement Type: INSERT, tipo de declaración para insertar datos.\nDatabase Connection Pooling Service: DBCPConnectionPool Base Datos Prueba, servicio de pool de conexiones antes configurado.\nSchema Name: public, el esquema de la base de datos.\nTable Name: sube_alim_processed, el nombre de la tabla donde se insertan los datos.","zIndex":0,"width":408.0,"height":168.0,"style":{"background-color":"#adffbe","font-size":"12px"},"componentType":"LABEL","groupIdentifier":"d29e61c5-d615-3dd7-97aa-b134e2e522ea"},{"identifier":"79323c46-2c7f-3cf3-a6bf-1ca573c5ec95","instanceIdentifier":"9ca648e1-f19a-3cac-8f3d-2f735817bd80","position":{"x":-1224.0,"y":256.0},"label":"Extrae valores específicos de un flujo de datos JSON y los almacena como atributos\nDestination: flowfile-attribute, los valores extraídos se almacenan como atributos de archivo de flujo.\nReturn Type: auto-detect, detecta automáticamente el tipo de los valores extraídos.\nPath Not Found Behavior: ignore, ignora las rutas que no se encuentran.\nNull Value Representation: empty string, representa los valores nulos como cadenas vacías.\nMax String Length: 20 MB, longitud máxima de las cadenas.\nalimentador: $.alimentador, expresión JsonPath para extraer el valor de \"alimentador\".\nid_subestacion: $.id_subestacion, expresión JsonPath para extraer el valor de \"id_subestacion\".","zIndex":0,"width":368.0,"height":240.0,"style":{"background-color":"#e6d8e8","font-size":"12px"},"componentType":"LABEL","groupIdentifier":"d29e61c5-d615-3dd7-97aa-b134e2e522ea"},{"identifier":"3b827ef2-ae92-3c6b-8178-b3fc5560f82d","instanceIdentifier":"c2b4c0e0-7754-334f-f9c5-80806203a32e","position":{"x":1504.0,"y":-88.0},"label":"Toma un flujo de datos JSON y lo divide en fragmentos más pequeños, utilizando todas las claves del JSON y representando los valores nulos como cadenas vacías.\nJsonPath Expression: $. *, selecciona todas las claves del JSON.\nNull Value Representation: empty string, representa los valores nulos como cadenas vacías.","zIndex":0,"width":328.0,"height":160.0,"style":{"background-color":"#b0d2e3","font-size":"14px"},"componentType":"LABEL","groupIdentifier":"d29e61c5-d615-3dd7-97aa-b134e2e522ea"},{"identifier":"6fe1f4f0-457e-33a8-8462-51954246151a","instanceIdentifier":"285f1a6c-836a-366b-f567-495cc58a404c","position":{"x":-1232.0,"y":-296.0},"label":"Consume datos de un tema de Kafka, gestionando datos.\nControlador : Kafka3ConnectionService, para conectarse a Kafka.\nGroup ID: sube-alim-consumer-group, identifica el grupo de consumidores.\nTopic Format: names, formato para identificar los temas.\nTopics: sube-alim-data, el tema del que se consumen los datos.\nAuto Offset Reset: earliest, empieza desde el offset más antiguo si no hay un offset inicial.\nCommit Offsets: true, confirma automáticamente los desplazamientos.","zIndex":0,"width":392.0,"height":168.0,"style":{"background-color":"#b8b094","font-size":"12px"},"componentType":"LABEL","groupIdentifier":"d29e61c5-d615-3dd7-97aa-b134e2e522ea"}],"funnels":[{"identifier":"a0184186-768a-31af-9ae2-121733f0cd79","instanceIdentifier":"04b6e66a-7fac-36a2-f49c-2107395a9855","position":{"x":1216.0,"y":-32.0},"componentType":"FUNNEL","groupIdentifier":"d29e61c5-d615-3dd7-97aa-b134e2e522ea"},{"identifier":"edd1629d-ae46-355f-b873-aeb5ee6a4a32","instanceIdentifier":"2dec7498-7e6d-3d20-a11d-a0182e90d7ff","position":{"x":1112.0,"y":184.0},"componentType":"FUNNEL","groupIdentifier":"d29e61c5-d615-3dd7-97aa-b134e2e522ea"},{"identifier":"a97674de-6f95-3055-b9c2-a5f33245eb75","instanceIdentifier":"05da92c7-6b81-3e1f-15cb-c64ee572a4e5","position":{"x":-632.0,"y":112.0},"componentType":"FUNNEL","groupIdentifier":"d29e61c5-d615-3dd7-97aa-b134e2e522ea"}],"controllerServices":[{"identifier":"5228a756-a806-3ce0-9c5a-85ea2c9ed10d","instanceIdentifier":"419cbdc8-e7e9-3e03-621a-dc3ab2d638c8","name":"Kafka3ConnectionService V2","comments":"","type":"org.apache.nifi.kafka.service.Kafka3ConnectionService","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-3-service-nar","version":"2.2.0"},"properties":{"security.protocol":"PLAINTEXT","SSL Context Service":null,"ack.wait.time":"5 sec","sasl.username":null,"max.poll.records":"10000","sasl.mechanism":"GSSAPI","isolation.level":"read_committed","max.block.ms":"5 sec","bootstrap.servers":"kafka_centrosur:9092","kerberos-user-service":null,"sasl.kerberos.service.name":null,"default.api.timeout.ms":"60 sec"},"propertyDescriptors":{"ack.wait.time":{"name":"ack.wait.time","displayName":"Acknowledgment Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sasl.username":{"name":"sasl.username","displayName":"SASL Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max.poll.records":{"name":"max.poll.records","displayName":"Max Poll Records","identifiesControllerService":false,"sensitive":false,"dynamic":false},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Bootstrap Servers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false,"dynamic":false},"isolation.level":{"name":"isolation.level","displayName":"Transaction Isolation Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max.block.ms":{"name":"max.block.ms","displayName":"Max Metadata Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sasl.password":{"name":"sasl.password","displayName":"SASL Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"default.api.timeout.ms":{"name":"default.api.timeout.ms","displayName":"Client Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.kafka.service.api.KafkaConnectionService","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-service-api-nar","version":"2.2.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"d29e61c5-d615-3dd7-97aa-b134e2e522ea"},{"identifier":"750c8a71-a5ae-340f-83b4-56c3e32974fa","instanceIdentifier":"9f62781c-67ce-3261-9978-0f3aa60a47a5","name":"DBCPConnectionPool Base Datos Prueba","comments":"","type":"org.apache.nifi.dbcp.DBCPConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-dbcp-service-nar","version":"2.2.0"},"properties":{"dbcp-min-idle-conns":"0","Max Wait Time":"500 millis","Database Driver Class Name":"org.postgresql.Driver","dbcp-min-evictable-idle-time":"30 mins","Max Total Connections":"8","dbcp-max-conn-lifetime":"-1","Validation-query":null,"Database Connection URL":"jdbc:postgresql://postgres_centrosur:5432/base_prueba","dbcp-time-between-eviction-runs":"-1","Database User":"postgres","kerberos-user-service":null,"dbcp-soft-min-evictable-idle-time":"-1","database-driver-locations":"/opt/nifi/nifi-current/drivers/postgresql-42.7.1.jar","dbcp-max-idle-conns":"8"},"propertyDescriptors":{"dbcp-min-idle-conns":{"name":"dbcp-min-idle-conns","displayName":"Minimum Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Driver Class Name":{"name":"Database Driver Class Name","displayName":"Database Driver Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-min-evictable-idle-time":{"name":"dbcp-min-evictable-idle-time","displayName":"Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Total Connections":{"name":"Max Total Connections","displayName":"Max Total Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-max-conn-lifetime":{"name":"dbcp-max-conn-lifetime","displayName":"Max Connection Lifetime","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Validation-query":{"name":"Validation-query","displayName":"Validation query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection URL":{"name":"Database Connection URL","displayName":"Database Connection URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-time-between-eviction-runs":{"name":"dbcp-time-between-eviction-runs","displayName":"Time Between Eviction Runs","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database User":{"name":"Database User","displayName":"Database User","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"dbcp-soft-min-evictable-idle-time":{"name":"dbcp-soft-min-evictable-idle-time","displayName":"Soft Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"database-driver-locations":{"name":"database-driver-locations","displayName":"Database Driver Location(s)","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","URL","FILE"]}},"dbcp-max-idle-conns":{"name":"dbcp-max-idle-conns","displayName":"Max Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.2.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"d29e61c5-d615-3dd7-97aa-b134e2e522ea"},{"identifier":"96d12aa7-8cac-33dd-b389-6321b875a7e5","instanceIdentifier":"f7da0bd5-c0ae-3053-d7af-bd6f9201889f","name":"JsonTreeReader V2","comments":"","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.2.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"Max String Length":"20 MB","schema-application-strategy":"SELECTED_PART","Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-name":"${schema.name}","starting-field-strategy":"ROOT_NODE","schema-registry":null,"starting-field-name":null,"Time Format":null,"schema-access-strategy":"schema-text-property","schema-version":null,"schema-text":"{\n  \"type\": \"record\",\n  \"name\": \"Potencia_dep\",\n  \"fields\": [\n    {\"name\": \"fecha\", \"type\": \"string\"},\n    {\"name\": \"hora\", \"type\": \"string\"},\n    {\"name\": \"alimentador\", \"type\": \"string\"},\n    {\"name\": \"dia_semana\", \"type\": [\"null\", \"int\"], \"default\": null},\n    {\"name\": \"potencia_activa\", \"type\": [\"null\", \"double\"], \"default\": null},\n    {\"name\": \"potencia_reactiva\", \"type\": [\"null\", \"double\"], \"default\": null}\n  ],\n  \"namespace\": \"org.apache.nifi.record.path\"\n}","Allow Comments":"false"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-application-strategy":{"name":"schema-application-strategy","displayName":"Schema Application Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"starting-field-strategy":{"name":"starting-field-strategy","displayName":"Starting Field Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"starting-field-name":{"name":"starting-field-name","displayName":"Starting Field Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Comments":{"name":"Allow Comments","displayName":"Allow Comments","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.2.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"d29e61c5-d615-3dd7-97aa-b134e2e522ea"}],"defaultFlowFileExpiration":"10 min","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"7cff19d4-2de2-3957-9417-8a0338750443"}],"remoteProcessGroups":[],"processors":[],"inputPorts":[],"outputPorts":[],"connections":[],"labels":[{"identifier":"e9034d4b-67ad-3c6d-b00b-79f17509cac7","instanceIdentifier":"ed5acbd0-e3b3-34bd-492e-1d471155a20d","position":{"x":-376.0,"y":-448.0},"label":"Grupo que consume los datos publicados en Kafka mediante el tema : potencia-data, y el grupo creado llamado sube-alim-consumer-group , del cual maneja los valores en json para volverlos a insertar especificando las tablas y insertarlos en una nueva BD Prueba con la tabla potencia_dep_processed ","zIndex":0,"width":392.0,"height":160.0,"style":{"font-size":"16px"},"componentType":"LABEL","groupIdentifier":"7cff19d4-2de2-3957-9417-8a0338750443"},{"identifier":"4eecc302-fac3-3b80-b18b-756ee6efe344","instanceIdentifier":"74a6223e-07e0-3184-904b-b0d52dd20d83","position":{"x":-1088.0,"y":-448.0},"label":"Grupo que Produce o obtiene de la BD la tabla potencia_dep con 221184 registros ,estos registros se transforman  de avro(que vienen de la BD) a json para un mejor manejo y estos datos se los publica a Kafka en el tema :potecia-data \n","zIndex":0,"width":392.0,"height":136.0,"style":{"font-size":"16px"},"componentType":"LABEL","groupIdentifier":"7cff19d4-2de2-3957-9417-8a0338750443"},{"identifier":"7c129713-ce0a-377a-b148-73251a6c7b82","instanceIdentifier":"764283b6-da45-39ef-5b77-014785719016","position":{"x":-632.0,"y":-208.0},"label":"=========>>\n\n","zIndex":0,"width":200.0,"height":48.0,"style":{"font-size":"24px"},"componentType":"LABEL","groupIdentifier":"7cff19d4-2de2-3957-9417-8a0338750443"}],"funnels":[],"controllerServices":[{"identifier":"739fc33c-749f-3ad5-aa18-27a2f0aab606","instanceIdentifier":"598d073a-cb3a-3448-fd46-93f7bead1548","name":"DBCPConnectionPool","comments":"Función: Permite Conectarse a la BD (Docker)\nURL:jdbc:postgresql://postgres_centrosur:5432/centrosur\nNombre del Driver :org.postgresql.Driver\nUsuario de la BD: postgres\nContraseña de la BD: 1150040812","type":"org.apache.nifi.dbcp.DBCPConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-dbcp-service-nar","version":"2.2.0"},"properties":{"dbcp-min-idle-conns":"0","Max Wait Time":"500 millis","Database Driver Class Name":"org.postgresql.Driver","dbcp-min-evictable-idle-time":"30 mins","Max Total Connections":"8","dbcp-max-conn-lifetime":"-1","Validation-query":null,"Database Connection URL":"jdbc:postgresql://postgres_centrosur:5432/centrosur","dbcp-time-between-eviction-runs":"-1","Database User":"postgres","kerberos-user-service":null,"dbcp-soft-min-evictable-idle-time":"-1","database-driver-locations":"/opt/nifi/nifi-current/drivers/postgresql-42.7.1.jar","dbcp-max-idle-conns":"8"},"propertyDescriptors":{"dbcp-min-idle-conns":{"name":"dbcp-min-idle-conns","displayName":"Minimum Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Driver Class Name":{"name":"Database Driver Class Name","displayName":"Database Driver Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-min-evictable-idle-time":{"name":"dbcp-min-evictable-idle-time","displayName":"Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Total Connections":{"name":"Max Total Connections","displayName":"Max Total Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-max-conn-lifetime":{"name":"dbcp-max-conn-lifetime","displayName":"Max Connection Lifetime","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Validation-query":{"name":"Validation-query","displayName":"Validation query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection URL":{"name":"Database Connection URL","displayName":"Database Connection URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-time-between-eviction-runs":{"name":"dbcp-time-between-eviction-runs","displayName":"Time Between Eviction Runs","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database User":{"name":"Database User","displayName":"Database User","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"dbcp-soft-min-evictable-idle-time":{"name":"dbcp-soft-min-evictable-idle-time","displayName":"Soft Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"database-driver-locations":{"name":"database-driver-locations","displayName":"Database Driver Location(s)","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","URL","FILE"]}},"dbcp-max-idle-conns":{"name":"dbcp-max-idle-conns","displayName":"Max Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.2.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"7cff19d4-2de2-3957-9417-8a0338750443"},{"identifier":"6b66bf0b-05c9-3b22-91b3-1b43deed96cf","instanceIdentifier":"6d70ba2b-2e6a-3db1-a7ce-d31ef47fc61b","name":"JsonRecordSetWriter","comments":"Se utiliza para escribir datos en formato JSON desde archivos de flujo","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.2.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"Allow Scientific Notation":"false","compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"true","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"inherit-record-schema","schema-version":null,"schema-text":"${avro.schema}","Schema Reference Writer":null},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Scientific Notation":{"name":"Allow Scientific Notation","displayName":"Allow Scientific Notation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false,"dynamic":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Writer":{"name":"Schema Reference Writer","displayName":"Schema Reference Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.2.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"7cff19d4-2de2-3957-9417-8a0338750443"},{"identifier":"69bbb47b-292e-3703-955c-b5281e40bb09","instanceIdentifier":"16b88741-1dc7-3894-141e-1ecb4aac7e62","name":"AvroReader","comments":"Lee y deserializa datos en formato Avro desde archivos de flujo","type":"org.apache.nifi.avro.AvroReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.2.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"schema-name":"${schema.name}","cache-size":"100000","schema-registry":null,"schema-access-strategy":"embedded-avro-schema","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"cache-size":{"name":"cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.2.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"7cff19d4-2de2-3957-9417-8a0338750443"}],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}