flows/Tabla-subealim.json
{"flowContents":{"identifier":"9569b8b3-c2cc-3895-a8fa-a88033992ab8","instanceIdentifier":"3f881e59-0196-1000-71c0-366f47d304cf","name":"Tabla-subealim","comments":"","position":{"x":-968.0,"y":-432.0},"processGroups":[{"identifier":"1ac13d80-306b-3dd6-a4d1-795a4e1ce48e","instanceIdentifier":"22c223b2-c70e-3b10-6305-96959b99c55f","name":"Grupo Productor","comments":"","position":{"x":-480.0,"y":-280.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"ae5ca1c0-a426-310f-9467-fa430aae4acd","instanceIdentifier":"ef88bd96-4add-3d26-bc07-09eddcdab554","name":"P.3-PublishKafka","comments":"","position":{"x":-528.0,"y":-536.0},"type":"org.apache.nifi.kafka.processors.PublishKafka","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-nar","version":"2.2.0"},"properties":{"compression.type":"snappy","acks":"0","Message Demarcator":null,"Kafka Key Attribute Encoding":"utf-8","Record Reader":null,"Record Metadata Strategy":"FROM_PROPERTIES","Transactional ID Prefix":null,"Header Encoding":"UTF-8","max.request.size":"1 MB","Topic Name":"sube-alim-data","Kafka Key":null,"partition":null,"Kafka Connection Service":"905a6e65-ce16-3f43-9286-680a8d664a2e","Publish Strategy":"USE_VALUE","Record Key Writer":null,"Failure Strategy":"Route to Failure","partitioner.class":"org.apache.kafka.clients.producer.internals.DefaultPartitioner","Record Writer":null,"Transactions Enabled":"false","Message Key Field":null,"FlowFile Attribute Header Pattern":null},"propertyDescriptors":{"compression.type":{"name":"compression.type","displayName":"Compression Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"acks":{"name":"acks","displayName":"Delivery Guarantee","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Message Demarcator":{"name":"Message Demarcator","displayName":"Message Demarcator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Kafka Key Attribute Encoding":{"name":"Kafka Key Attribute Encoding","displayName":"Kafka Key Attribute Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Metadata Strategy":{"name":"Record Metadata Strategy","displayName":"Record Metadata Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Transactional ID Prefix":{"name":"Transactional ID Prefix","displayName":"Transactional ID Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Header Encoding":{"name":"Header Encoding","displayName":"Header Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max.request.size":{"name":"max.request.size","displayName":"Max Request Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Topic Name":{"name":"Topic Name","displayName":"Topic Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Kafka Key":{"name":"Kafka Key","displayName":"Kafka Key","identifiesControllerService":false,"sensitive":false,"dynamic":false},"partition":{"name":"partition","displayName":"Partition","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Kafka Connection Service":{"name":"Kafka Connection Service","displayName":"Kafka Connection Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Publish Strategy":{"name":"Publish Strategy","displayName":"Publish Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Key Writer":{"name":"Record Key Writer","displayName":"Record Key Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Failure Strategy":{"name":"Failure Strategy","displayName":"Failure Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"partitioner.class":{"name":"partitioner.class","displayName":"Partitioner Class","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Transactions Enabled":{"name":"Transactions Enabled","displayName":"Transactions Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Message Key Field":{"name":"Message Key Field","displayName":"Message Key Field","identifiesControllerService":false,"sensitive":false,"dynamic":false},"FlowFile Attribute Header Pattern":{"name":"FlowFile Attribute Header Pattern","displayName":"FlowFile Attribute Header Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{"background-color":"#ae8484"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":4,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"1ac13d80-306b-3dd6-a4d1-795a4e1ce48e"},{"identifier":"296db85f-fe5a-3fb0-a4b2-96447d6e7f1d","instanceIdentifier":"58a17b60-0196-1000-a634-9a549634cd57","name":"P.4-PutDatabaseRecord","comments":"","position":{"x":-1168.0,"y":-544.0},"type":"org.apache.nifi.processors.standard.PutDatabaseRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"put-db-record-allow-multiple-statements":"false","put-db-record-schema-name":"public","put-db-record-field-containing-sql":null,"put-db-record-unmatched-column-behavior":"Fail on Unmatched Columns","Delete Keys":null,"put-db-record-catalog-name":null,"put-db-record-statement-type":"INSERT","put-db-record-update-keys":null,"put-db-record-quoted-identifiers":"false","put-db-record-unmatched-field-behavior":"Ignore Unmatched Fields","put-db-record-max-batch-size":"1000","Database Dialect Service":null,"Data Record Path":null,"database-session-autocommit":"false","table-schema-cache-size":"100","put-db-record-quoted-table-identifiers":"false","Statement Type Record Path":null,"Column Name Translation Pattern":null,"put-db-record-translate-field-names":"true","put-db-record-dcbp-service":"184bb1e7-5250-3aa8-b196-00c6e20f26da","put-db-record-query-timeout":"0 seconds","Column Name Translation Strategy":"REMOVE_UNDERSCORE","rollback-on-failure":"false","put-db-record-binary-format":"UTF-8","db-type":"Generic","put-db-record-table-name":"datos_enviados","put-db-record-record-reader":"755e08b1-0c42-3109-84bf-2ee550a4f241"},"propertyDescriptors":{"put-db-record-allow-multiple-statements":{"name":"put-db-record-allow-multiple-statements","displayName":"Allow Multiple SQL Statements","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-schema-name":{"name":"put-db-record-schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-field-containing-sql":{"name":"put-db-record-field-containing-sql","displayName":"Field Containing SQL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-unmatched-column-behavior":{"name":"put-db-record-unmatched-column-behavior","displayName":"Unmatched Column Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Delete Keys":{"name":"Delete Keys","displayName":"Delete Keys","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-catalog-name":{"name":"put-db-record-catalog-name","displayName":"Catalog Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-statement-type":{"name":"put-db-record-statement-type","displayName":"Statement Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-update-keys":{"name":"put-db-record-update-keys","displayName":"Update Keys","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-quoted-identifiers":{"name":"put-db-record-quoted-identifiers","displayName":"Quote Column Identifiers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-unmatched-field-behavior":{"name":"put-db-record-unmatched-field-behavior","displayName":"Unmatched Field Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-max-batch-size":{"name":"put-db-record-max-batch-size","displayName":"Maximum Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Dialect Service":{"name":"Database Dialect Service","displayName":"Database Dialect Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Data Record Path":{"name":"Data Record Path","displayName":"Data Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"database-session-autocommit":{"name":"database-session-autocommit","displayName":"Database Session AutoCommit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"table-schema-cache-size":{"name":"table-schema-cache-size","displayName":"Table Schema Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-quoted-table-identifiers":{"name":"put-db-record-quoted-table-identifiers","displayName":"Quote Table Identifiers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Statement Type Record Path":{"name":"Statement Type Record Path","displayName":"Statement Type Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Column Name Translation Pattern":{"name":"Column Name Translation Pattern","displayName":"Column Name Translation Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-translate-field-names":{"name":"put-db-record-translate-field-names","displayName":"Translate Field Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-dcbp-service":{"name":"put-db-record-dcbp-service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"put-db-record-query-timeout":{"name":"put-db-record-query-timeout","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Column Name Translation Strategy":{"name":"Column Name Translation Strategy","displayName":"Column Name Translation Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"rollback-on-failure":{"name":"rollback-on-failure","displayName":"Rollback On Failure","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-binary-format":{"name":"put-db-record-binary-format","displayName":"Binary String Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"db-type":{"name":"db-type","displayName":"Database Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-table-name":{"name":"put-db-record-table-name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-record-reader":{"name":"put-db-record-record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"1ac13d80-306b-3dd6-a4d1-795a4e1ce48e"},{"identifier":"43f8b29f-0195-1000-995e-a0393bd40439","instanceIdentifier":"d71edb3c-bade-3de3-2e24-e5a5871f76a7","name":"P.1-QueryDatabaseTable","comments":"","position":{"x":-1176.0,"y":-776.0},"type":"org.apache.nifi.processors.standard.QueryDatabaseTable","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"Table Name":"sube_alim","db-fetch-db-type":"PostgreSQL","dbf-default-precision":"10","Set Auto Commit":null,"Max Wait Time":"0 seconds","Database Connection Pooling Service":"9657eb2b-2cc1-34c8-a714-79367f82c0e1","Maximum-value Columns":null,"dbf-user-logical-types":"false","qdbt-output-batch-size":"0","qdbt-max-rows":"5000","qdbt-max-frags":"0","dbf-default-scale":"0","initial-load-strategy":"Start at Beginning","Fetch Size":"5000","db-fetch-sql-query":"SELECT id_subestacion, alimentador \nFROM sube_alim\nWHERE (id_subestacion BETWEEN 0 AND 999)\nAND CAST(EXTRACT(EPOCH FROM CURRENT_TIMESTAMP) AS INTEGER) > 0\nORDER BY id_subestacion","Columns to Return":null,"db-fetch-where-clause":null,"dbf-normalize":"false","transaction-isolation-level":null,"Database Dialect Service":null},"propertyDescriptors":{"Table Name":{"name":"Table Name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"db-fetch-db-type":{"name":"db-fetch-db-type","displayName":"Database Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Set Auto Commit":{"name":"Set Auto Commit","displayName":"Set Auto Commit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Maximum-value Columns":{"name":"Maximum-value Columns","displayName":"Maximum-value Columns","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-user-logical-types":{"name":"dbf-user-logical-types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false,"dynamic":false},"qdbt-output-batch-size":{"name":"qdbt-output-batch-size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"qdbt-max-rows":{"name":"qdbt-max-rows","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false,"dynamic":false},"qdbt-max-frags":{"name":"qdbt-max-frags","displayName":"Maximum Number of Fragments","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false,"dynamic":false},"initial-load-strategy":{"name":"initial-load-strategy","displayName":"Initial Load Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Fetch Size":{"name":"Fetch Size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"db-fetch-sql-query":{"name":"db-fetch-sql-query","displayName":"Custom Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Columns to Return":{"name":"Columns to Return","displayName":"Columns to Return","identifiesControllerService":false,"sensitive":false,"dynamic":false},"db-fetch-where-clause":{"name":"db-fetch-where-clause","displayName":"Additional WHERE clause","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-normalize":{"name":"dbf-normalize","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"transaction-isolation-level":{"name":"transaction-isolation-level","displayName":"Transaction Isolation Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Dialect Service":{"name":"Database Dialect Service","displayName":"Database Dialect Service","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{"background-color":"#aedeea"},"schedulingPeriod":"120 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"PRIMARY","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"1ac13d80-306b-3dd6-a4d1-795a4e1ce48e"},{"identifier":"acfd9526-d612-3dc3-8b05-afa96e680f6d","instanceIdentifier":"51be9350-5372-3217-d8b6-87c2933597f3","name":"P.2-ConvertRecord","comments":"","position":{"x":-528.0,"y":-768.0},"type":"org.apache.nifi.processors.standard.ConvertRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"Include Zero Record FlowFiles":"true","Record Writer":"83ee5855-b764-3aba-949c-375233fc85f6","Record Reader":"844f7639-a825-3300-88bb-2f1ef1b7488e"},"propertyDescriptors":{"Include Zero Record FlowFiles":{"name":"Include Zero Record FlowFiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":4,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"1ac13d80-306b-3dd6-a4d1-795a4e1ce48e"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"8f647661-d5c5-33a1-9ad7-1ffbc545dd6e","instanceIdentifier":"58a15e3f-0196-1000-1312-cb26f642faa3","name":"","source":{"id":"ae5ca1c0-a426-310f-9467-fa430aae4acd","type":"PROCESSOR","groupId":"1ac13d80-306b-3dd6-a4d1-795a4e1ce48e","name":"P.3-PublishKafka","comments":"","instanceIdentifier":"ef88bd96-4add-3d26-bc07-09eddcdab554"},"destination":{"id":"50285acc-823f-3e30-bcaa-9f286fd9cc3d","type":"FUNNEL","groupId":"1ac13d80-306b-3dd6-a4d1-795a4e1ce48e","name":"Funnel","comments":"","instanceIdentifier":"18ad56d5-23c2-31f7-c997-caf23c4e298d"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"10 min","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1ac13d80-306b-3dd6-a4d1-795a4e1ce48e"},{"identifier":"57c80523-7d91-3c13-acde-38563cf08be9","instanceIdentifier":"3f89e242-0196-1000-b445-f0a95fa792e5","name":"","source":{"id":"acfd9526-d612-3dc3-8b05-afa96e680f6d","type":"PROCESSOR","groupId":"1ac13d80-306b-3dd6-a4d1-795a4e1ce48e","name":"P.2-ConvertRecord","comments":"","instanceIdentifier":"51be9350-5372-3217-d8b6-87c2933597f3"},"destination":{"id":"ae5ca1c0-a426-310f-9467-fa430aae4acd","type":"PROCESSOR","groupId":"1ac13d80-306b-3dd6-a4d1-795a4e1ce48e","name":"P.3-PublishKafka","comments":"","instanceIdentifier":"ef88bd96-4add-3d26-bc07-09eddcdab554"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":50000,"backPressureDataSizeThreshold":"5 GB","flowFileExpiration":"10 min","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1ac13d80-306b-3dd6-a4d1-795a4e1ce48e"},{"identifier":"63c40185-bdf8-32bc-838d-560d7059c7a6","instanceIdentifier":"58a20cc5-0196-1000-9745-dd93c3da8497","name":"","source":{"id":"296db85f-fe5a-3fb0-a4b2-96447d6e7f1d","type":"PROCESSOR","groupId":"1ac13d80-306b-3dd6-a4d1-795a4e1ce48e","name":"P.4-PutDatabaseRecord","comments":"","instanceIdentifier":"58a17b60-0196-1000-a634-9a549634cd57"},"destination":{"id":"65c21533-3c44-3fed-b772-a9f88a3db287","type":"FUNNEL","groupId":"1ac13d80-306b-3dd6-a4d1-795a4e1ce48e","name":"Funnel","comments":"","instanceIdentifier":"f43602f6-d1a5-3960-94c3-1c39601980ba"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"10 min","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1ac13d80-306b-3dd6-a4d1-795a4e1ce48e"},{"identifier":"89c09754-3128-3da0-80dc-529d31df7aa9","instanceIdentifier":"61174992-b13e-3676-f658-7c1a34fdacdd","name":"","source":{"id":"acfd9526-d612-3dc3-8b05-afa96e680f6d","type":"PROCESSOR","groupId":"1ac13d80-306b-3dd6-a4d1-795a4e1ce48e","name":"P.2-ConvertRecord","comments":"","instanceIdentifier":"51be9350-5372-3217-d8b6-87c2933597f3"},"destination":{"id":"50285acc-823f-3e30-bcaa-9f286fd9cc3d","type":"FUNNEL","groupId":"1ac13d80-306b-3dd6-a4d1-795a4e1ce48e","name":"Funnel","comments":"","instanceIdentifier":"18ad56d5-23c2-31f7-c997-caf23c4e298d"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1ac13d80-306b-3dd6-a4d1-795a4e1ce48e"},{"identifier":"bb769f9f-2156-3980-9014-4c88bcad58e8","instanceIdentifier":"58a23f64-0196-1000-2d7d-379fb43e9aaf","name":"","source":{"id":"296db85f-fe5a-3fb0-a4b2-96447d6e7f1d","type":"PROCESSOR","groupId":"1ac13d80-306b-3dd6-a4d1-795a4e1ce48e","name":"P.4-PutDatabaseRecord","comments":"","instanceIdentifier":"58a17b60-0196-1000-a634-9a549634cd57"},"destination":{"id":"65c21533-3c44-3fed-b772-a9f88a3db287","type":"FUNNEL","groupId":"1ac13d80-306b-3dd6-a4d1-795a4e1ce48e","name":"Funnel","comments":"","instanceIdentifier":"f43602f6-d1a5-3960-94c3-1c39601980ba"},"labelIndex":0,"zIndex":0,"selectedRelationships":["retry"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"10 min","prioritizers":[],"bends":[{"x":-1312.0,"y":-400.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1ac13d80-306b-3dd6-a4d1-795a4e1ce48e"},{"identifier":"7c1b7eac-e1ae-3694-aa9a-7b9377106806","instanceIdentifier":"58a221b4-0196-1000-8d96-52ca0cadce05","name":"","source":{"id":"296db85f-fe5a-3fb0-a4b2-96447d6e7f1d","type":"PROCESSOR","groupId":"1ac13d80-306b-3dd6-a4d1-795a4e1ce48e","name":"P.4-PutDatabaseRecord","comments":"","instanceIdentifier":"58a17b60-0196-1000-a634-9a549634cd57"},"destination":{"id":"65c21533-3c44-3fed-b772-a9f88a3db287","type":"FUNNEL","groupId":"1ac13d80-306b-3dd6-a4d1-795a4e1ce48e","name":"Funnel","comments":"","instanceIdentifier":"f43602f6-d1a5-3960-94c3-1c39601980ba"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"10 min","prioritizers":[],"bends":[{"x":-1304.0,"y":-560.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1ac13d80-306b-3dd6-a4d1-795a4e1ce48e"},{"identifier":"141e758b-0d29-3747-bf33-9f6b5fc9352c","instanceIdentifier":"58a1a5fd-0196-1000-1083-1dc92ec92055","name":"","source":{"id":"ae5ca1c0-a426-310f-9467-fa430aae4acd","type":"PROCESSOR","groupId":"1ac13d80-306b-3dd6-a4d1-795a4e1ce48e","name":"P.3-PublishKafka","comments":"","instanceIdentifier":"ef88bd96-4add-3d26-bc07-09eddcdab554"},"destination":{"id":"296db85f-fe5a-3fb0-a4b2-96447d6e7f1d","type":"PROCESSOR","groupId":"1ac13d80-306b-3dd6-a4d1-795a4e1ce48e","name":"P.4-PutDatabaseRecord","comments":"","instanceIdentifier":"58a17b60-0196-1000-a634-9a549634cd57"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"10 min","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1ac13d80-306b-3dd6-a4d1-795a4e1ce48e"},{"identifier":"565ba0b1-2355-33b9-8945-7683b61f93db","instanceIdentifier":"3f89d28c-0196-1000-fd4b-d2a6b4f8e188","name":"","source":{"id":"43f8b29f-0195-1000-995e-a0393bd40439","type":"PROCESSOR","groupId":"1ac13d80-306b-3dd6-a4d1-795a4e1ce48e","name":"P.1-QueryDatabaseTable","comments":"","instanceIdentifier":"d71edb3c-bade-3de3-2e24-e5a5871f76a7"},"destination":{"id":"acfd9526-d612-3dc3-8b05-afa96e680f6d","type":"PROCESSOR","groupId":"1ac13d80-306b-3dd6-a4d1-795a4e1ce48e","name":"P.2-ConvertRecord","comments":"","instanceIdentifier":"51be9350-5372-3217-d8b6-87c2933597f3"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":50000,"backPressureDataSizeThreshold":"5 GB","flowFileExpiration":"10 min","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1ac13d80-306b-3dd6-a4d1-795a4e1ce48e"}],"labels":[{"identifier":"47c13262-0195-1000-88d4-16df08f88192","instanceIdentifier":"38a333dd-6e8d-3799-b886-9aa2f2077819","position":{"x":-2136.0,"y":-480.0},"label":"Se utiliza este procesador convertir registros de un formato a otro con\nRecordReader:AvroReader, que lee datos en formato Avro.\nRecord Writer: JsonRecordSetWriter, que escribe datos en formato JSON.\nInclude Zero Record FlowFiles: true, lo que asegura que los archivos de flujo con cero registros se incluyan en la salida.\nEn si convierte datos de Avro a JSON,","zIndex":0,"width":424.0,"height":160.0,"style":{"background-color":"#d9a2dd","font-size":"14px"},"componentType":"LABEL","groupIdentifier":"1ac13d80-306b-3dd6-a4d1-795a4e1ce48e"},{"identifier":"47c4c116-0195-1000-4fa7-9cf421e3656a","instanceIdentifier":"b351af5f-829f-3ee5-93e0-8c35a6581503","position":{"x":-2040.0,"y":16.0},"label":"Envía datos comprimidos a un tema específico de Kafka, con una entrega de datos de mejor esfuerzo del cual tiene:\nControlador:Kafka3ConnectionService, que se usa para conectarse a Kafka.\nTopic Name: sube-alim-data, el nombre del tema al que se envían los datos.\nFailure Strategy: Route to Failure, redirige los fallos a una ruta específica.\nDelivery Guarantee: Best Effort, garantiza la entrega de datos al máximo posible sin usar transacciones.\nCompression Type: snappy, comprime los datos para envío.\n","zIndex":0,"width":440.0,"height":208.0,"style":{"background-color":"#8d5353","font-size":"14px"},"componentType":"LABEL","groupIdentifier":"1ac13d80-306b-3dd6-a4d1-795a4e1ce48e"},{"identifier":"974d00d9-124b-32c9-a6e7-6bf773335dca","instanceIdentifier":"bbb9bfeb-caad-3171-1671-0b407c4a9823","position":{"x":-2080.0,"y":-768.0},"label":"Se usa para consultar en la BD de la tabla sube_alim.\nSe realiza una consulta personalizada SELECT * FROM sube_alim para obtener los datos, de lo cual nos permite extraer información completa de una tabla específica","zIndex":0,"width":312.0,"height":120.0,"style":{"background-color":"#9dd8dd","font-size":"14px"},"componentType":"LABEL","groupIdentifier":"1ac13d80-306b-3dd6-a4d1-795a4e1ce48e"}],"funnels":[{"identifier":"50285acc-823f-3e30-bcaa-9f286fd9cc3d","instanceIdentifier":"18ad56d5-23c2-31f7-c997-caf23c4e298d","position":{"x":96.0,"y":-680.0},"componentType":"FUNNEL","groupIdentifier":"1ac13d80-306b-3dd6-a4d1-795a4e1ce48e"},{"identifier":"65c21533-3c44-3fed-b772-a9f88a3db287","instanceIdentifier":"f43602f6-d1a5-3960-94c3-1c39601980ba","position":{"x":-1512.0,"y":-512.0},"componentType":"FUNNEL","groupIdentifier":"1ac13d80-306b-3dd6-a4d1-795a4e1ce48e"}],"controllerServices":[{"identifier":"184bb1e7-5250-3aa8-b196-00c6e20f26da","instanceIdentifier":"58a298ac-0196-1000-f5d0-733c9618169d","name":"DBCPConnectionPool Base Datos Prueba","comments":"","type":"org.apache.nifi.dbcp.DBCPConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-dbcp-service-nar","version":"2.2.0"},"properties":{"dbcp-min-idle-conns":"0","Max Wait Time":"500 millis","Database Driver Class Name":"org.postgresql.Driver","dbcp-min-evictable-idle-time":"30 mins","Max Total Connections":"8","dbcp-max-conn-lifetime":"-1","Validation-query":null,"Database Connection URL":"jdbc:postgresql://postgres_centrosur:5432/base_prueba","dbcp-time-between-eviction-runs":"-1","Database User":"postgres","kerberos-user-service":null,"dbcp-soft-min-evictable-idle-time":"-1","database-driver-locations":"/opt/nifi/nifi-current/drivers/postgresql-42.7.1.jar","dbcp-max-idle-conns":"8"},"propertyDescriptors":{"dbcp-min-idle-conns":{"name":"dbcp-min-idle-conns","displayName":"Minimum Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Driver Class Name":{"name":"Database Driver Class Name","displayName":"Database Driver Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-min-evictable-idle-time":{"name":"dbcp-min-evictable-idle-time","displayName":"Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Total Connections":{"name":"Max Total Connections","displayName":"Max Total Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-max-conn-lifetime":{"name":"dbcp-max-conn-lifetime","displayName":"Max Connection Lifetime","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Validation-query":{"name":"Validation-query","displayName":"Validation query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection URL":{"name":"Database Connection URL","displayName":"Database Connection URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-time-between-eviction-runs":{"name":"dbcp-time-between-eviction-runs","displayName":"Time Between Eviction Runs","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database User":{"name":"Database User","displayName":"Database User","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"dbcp-soft-min-evictable-idle-time":{"name":"dbcp-soft-min-evictable-idle-time","displayName":"Soft Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"database-driver-locations":{"name":"database-driver-locations","displayName":"Database Driver Location(s)","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","URL","FILE"]}},"dbcp-max-idle-conns":{"name":"dbcp-max-idle-conns","displayName":"Max Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.2.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"1ac13d80-306b-3dd6-a4d1-795a4e1ce48e"},{"identifier":"755e08b1-0c42-3109-84bf-2ee550a4f241","instanceIdentifier":"9bae61f9-756d-39f1-dc3a-5619da70b11d","name":"JsonTreeReader","comments":"","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.2.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"Max String Length":"20 MB","schema-application-strategy":"SELECTED_PART","Timestamp Format":"yyyy-MM-dd'T'HH:mm:ss.SSS","schema-inference-cache":null,"Date Format":"yyyy-MM-dd","schema-name":"${schema.name}","starting-field-strategy":"ROOT_NODE","schema-registry":null,"starting-field-name":null,"Time Format":"HH:mm:ss","schema-access-strategy":"infer-schema","schema-version":null,"schema-text":"${avro.schema}","Allow Comments":"false"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-application-strategy":{"name":"schema-application-strategy","displayName":"Schema Application Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"starting-field-strategy":{"name":"starting-field-strategy","displayName":"Starting Field Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"starting-field-name":{"name":"starting-field-name","displayName":"Starting Field Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Comments":{"name":"Allow Comments","displayName":"Allow Comments","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.2.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"1ac13d80-306b-3dd6-a4d1-795a4e1ce48e"},{"identifier":"844f7639-a825-3300-88bb-2f1ef1b7488e","instanceIdentifier":"e45763ee-9668-346f-266a-b0225c2671f8","name":"AvroReader","comments":"","type":"org.apache.nifi.avro.AvroReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.2.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"schema-name":"${schema.name}","cache-size":"1000","schema-registry":null,"schema-access-strategy":"embedded-avro-schema","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"cache-size":{"name":"cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.2.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"1ac13d80-306b-3dd6-a4d1-795a4e1ce48e"},{"identifier":"83ee5855-b764-3aba-949c-375233fc85f6","instanceIdentifier":"05d0d9c3-52aa-33a8-b59c-1d645f9059aa","name":"JsonRecordSetWriter","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.2.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"Allow Scientific Notation":"false","compression-level":"1","schema-cache":null,"Timestamp Format":"yyyy-MM-dd'T'HH:mm:ss.SSS","Date Format":null,"Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"inherit-record-schema","schema-version":null,"schema-text":"${avro.schema}","Schema Reference Writer":null},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Scientific Notation":{"name":"Allow Scientific Notation","displayName":"Allow Scientific Notation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false,"dynamic":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Writer":{"name":"Schema Reference Writer","displayName":"Schema Reference Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.2.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"1ac13d80-306b-3dd6-a4d1-795a4e1ce48e"},{"identifier":"9657eb2b-2cc1-34c8-a714-79367f82c0e1","instanceIdentifier":"007b12c4-7c18-3412-2e03-ad441df452ce","name":"DBCPConnectionPool Sube_alim","comments":"","type":"org.apache.nifi.dbcp.DBCPConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-dbcp-service-nar","version":"2.2.0"},"properties":{"dbcp-min-idle-conns":"0","Max Wait Time":"500 millis","Database Driver Class Name":"org.postgresql.Driver","dbcp-min-evictable-idle-time":"30 mins","Max Total Connections":"8","dbcp-max-conn-lifetime":"-1","Validation-query":null,"Database Connection URL":"jdbc:postgresql://postgres_centrosur:5432/centrosur","dbcp-time-between-eviction-runs":"-1","Database User":"postgres","kerberos-user-service":null,"dbcp-soft-min-evictable-idle-time":"-1","database-driver-locations":"/opt/nifi/nifi-current/drivers/postgresql-42.7.1.jar","dbcp-max-idle-conns":"8"},"propertyDescriptors":{"dbcp-min-idle-conns":{"name":"dbcp-min-idle-conns","displayName":"Minimum Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Driver Class Name":{"name":"Database Driver Class Name","displayName":"Database Driver Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-min-evictable-idle-time":{"name":"dbcp-min-evictable-idle-time","displayName":"Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Total Connections":{"name":"Max Total Connections","displayName":"Max Total Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-max-conn-lifetime":{"name":"dbcp-max-conn-lifetime","displayName":"Max Connection Lifetime","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Validation-query":{"name":"Validation-query","displayName":"Validation query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection URL":{"name":"Database Connection URL","displayName":"Database Connection URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-time-between-eviction-runs":{"name":"dbcp-time-between-eviction-runs","displayName":"Time Between Eviction Runs","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database User":{"name":"Database User","displayName":"Database User","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"dbcp-soft-min-evictable-idle-time":{"name":"dbcp-soft-min-evictable-idle-time","displayName":"Soft Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"database-driver-locations":{"name":"database-driver-locations","displayName":"Database Driver Location(s)","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","URL","FILE"]}},"dbcp-max-idle-conns":{"name":"dbcp-max-idle-conns","displayName":"Max Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.2.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"1ac13d80-306b-3dd6-a4d1-795a4e1ce48e"},{"identifier":"905a6e65-ce16-3f43-9286-680a8d664a2e","instanceIdentifier":"709c433d-97ff-31f6-d9c4-18a0392d3638","name":"Kafka3ConnectionService","comments":"Este controlador Permite la conexción con kafka para el envio y la recepcion de datos con su conexión : \nkafka_centrosur:9092\nComo de igual forma su protocolo de seguridad que es un texto plano:\nSecurity Protocol\nPLAINTEXT","type":"org.apache.nifi.kafka.service.Kafka3ConnectionService","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-3-service-nar","version":"2.2.0"},"properties":{"security.protocol":"PLAINTEXT","SSL Context Service":null,"ack.wait.time":"5 sec","sasl.username":null,"max.poll.records":"10000","sasl.mechanism":"GSSAPI","isolation.level":"read_committed","max.block.ms":"5 sec","bootstrap.servers":"kafka_centrosur:9092","kerberos-user-service":null,"sasl.kerberos.service.name":null,"default.api.timeout.ms":"60 sec"},"propertyDescriptors":{"ack.wait.time":{"name":"ack.wait.time","displayName":"Acknowledgment Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sasl.username":{"name":"sasl.username","displayName":"SASL Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max.poll.records":{"name":"max.poll.records","displayName":"Max Poll Records","identifiesControllerService":false,"sensitive":false,"dynamic":false},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Bootstrap Servers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false,"dynamic":false},"isolation.level":{"name":"isolation.level","displayName":"Transaction Isolation Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max.block.ms":{"name":"max.block.ms","displayName":"Max Metadata Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sasl.password":{"name":"sasl.password","displayName":"SASL Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"default.api.timeout.ms":{"name":"default.api.timeout.ms","displayName":"Client Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.kafka.service.api.KafkaConnectionService","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-service-api-nar","version":"2.2.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"1ac13d80-306b-3dd6-a4d1-795a4e1ce48e"}],"defaultFlowFileExpiration":"10 min","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"9569b8b3-c2cc-3895-a8fa-a88033992ab8"},{"identifier":"a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0","instanceIdentifier":"e94b4eec-dcf1-3e00-aeef-540c34257f81","name":"Grupo Consumidor","comments":"","position":{"x":48.0,"y":-280.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"3a91dca5-9c8d-3264-93a4-589f623cc61b","instanceIdentifier":"cf55fd46-f49a-391b-2e8a-0467fbf85095","name":"C.1-ConsumeKafka","comments":"","position":{"x":176.0,"y":-296.0},"type":"org.apache.nifi.kafka.processors.ConsumeKafka","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-nar","version":"2.2.0"},"properties":{"Topics":"sube-alim-data","Commit Offsets":"true","Header Name Pattern":null,"Key Format":"byte-array","Key Record Reader":null,"Message Demarcator":null,"Record Reader":null,"Key Attribute Encoding":"utf-8","Topic Format":"names","Header Encoding":"UTF-8","Max Uncommitted Time":"1 sec","Kafka Connection Service":"db2a0bb0-fd4a-3501-ba0c-1fb1549e26e3","Separate By Key":"false","Processing Strategy":"FLOW_FILE","Record Writer":null,"Group ID":"sube-alim-consumer-group-1","auto.offset.reset":"earliest","Output Strategy":"USE_VALUE"},"propertyDescriptors":{"Topics":{"name":"Topics","displayName":"Topics","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Commit Offsets":{"name":"Commit Offsets","displayName":"Commit Offsets","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Header Name Pattern":{"name":"Header Name Pattern","displayName":"Header Name Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Key Format":{"name":"Key Format","displayName":"Key Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Key Record Reader":{"name":"Key Record Reader","displayName":"Key Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Message Demarcator":{"name":"Message Demarcator","displayName":"Message Demarcator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Key Attribute Encoding":{"name":"Key Attribute Encoding","displayName":"Key Attribute Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Topic Format":{"name":"Topic Format","displayName":"Topic Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Header Encoding":{"name":"Header Encoding","displayName":"Header Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Uncommitted Time":{"name":"Max Uncommitted Time","displayName":"Max Uncommitted Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Kafka Connection Service":{"name":"Kafka Connection Service","displayName":"Kafka Connection Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Separate By Key":{"name":"Separate By Key","displayName":"Separate By Key","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Processing Strategy":{"name":"Processing Strategy","displayName":"Processing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Group ID":{"name":"Group ID","displayName":"Group ID","identifiesControllerService":false,"sensitive":false,"dynamic":false},"auto.offset.reset":{"name":"auto.offset.reset","displayName":"Auto Offset Reset","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Strategy":{"name":"Output Strategy","displayName":"Output Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{"background-color":"#cdcbb7"},"schedulingPeriod":"1 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":4,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0"},{"identifier":"6279a7a9-60ca-3743-8f42-42d1524dc5c8","instanceIdentifier":"ea373288-a8da-3d8c-415e-f1cdf56f804c","name":"C.2-EvaluateJsonPath","comments":"","position":{"x":840.0,"y":-288.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"Destination":"flowfile-attribute","id_subestacion":"$.id_subestacion","Max String Length":"20 MB","Return Type":"auto-detect","Null Value Representation":"empty string","alimentador":"$.alimentador","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"id_subestacion":{"name":"id_subestacion","displayName":"id_subestacion","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"alimentador":{"name":"alimentador","displayName":"alimentador","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{"background-color":"#fef0ff"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":4,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0"},{"identifier":"d5ad6939-6b01-3d3e-a40a-ab8aede5e8b0","instanceIdentifier":"aac7c267-6fbc-3efc-14f0-aeb886435463","name":"C.3-ReplaceText","comments":"","position":{"x":840.0,"y":-64.0},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"Regular Expression":"(?s)(^.*$)","Replacement Value":"{\"id_subestacion\": ${id_subestacion:toNumber()}, \"alimentador\": \"${alimentador}\"}","Evaluation Mode":"Line-by-Line","Text to Prepend":null,"Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Always Replace","Text to Append":null},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Prepend":{"name":"Text to Prepend","displayName":"Text to Prepend","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Append":{"name":"Text to Append","displayName":"Text to Append","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":4,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0"},{"identifier":"f5b11fb1-c240-3c6b-b32d-08b7e58d79a9","instanceIdentifier":"cc6e64c5-0011-3f14-607c-d1efd910c66a","name":"C.4-PutDatabaseRecord","comments":"","position":{"x":176.0,"y":-80.0},"type":"org.apache.nifi.processors.standard.PutDatabaseRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"put-db-record-allow-multiple-statements":"false","put-db-record-schema-name":"public","put-db-record-field-containing-sql":null,"put-db-record-unmatched-column-behavior":"Fail on Unmatched Columns","Delete Keys":null,"put-db-record-catalog-name":null,"put-db-record-statement-type":"INSERT","put-db-record-update-keys":null,"put-db-record-quoted-identifiers":"false","put-db-record-unmatched-field-behavior":"Ignore Unmatched Fields","put-db-record-max-batch-size":"100","Database Dialect Service":null,"Data Record Path":null,"database-session-autocommit":"false","table-schema-cache-size":"100","put-db-record-quoted-table-identifiers":"false","Statement Type Record Path":null,"Column Name Translation Pattern":null,"put-db-record-translate-field-names":"true","put-db-record-dcbp-service":"7b4beb08-8006-3f14-89a1-8d79170a70e8","put-db-record-query-timeout":"0 seconds","Column Name Translation Strategy":"REMOVE_UNDERSCORE","rollback-on-failure":"false","put-db-record-binary-format":"UTF-8","db-type":"PostgreSQL","put-db-record-table-name":"sube_alim_processed","put-db-record-record-reader":"b2200125-c1e1-32ce-b152-14ba9efb25d0"},"propertyDescriptors":{"put-db-record-allow-multiple-statements":{"name":"put-db-record-allow-multiple-statements","displayName":"Allow Multiple SQL Statements","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-schema-name":{"name":"put-db-record-schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-field-containing-sql":{"name":"put-db-record-field-containing-sql","displayName":"Field Containing SQL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-unmatched-column-behavior":{"name":"put-db-record-unmatched-column-behavior","displayName":"Unmatched Column Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Delete Keys":{"name":"Delete Keys","displayName":"Delete Keys","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-catalog-name":{"name":"put-db-record-catalog-name","displayName":"Catalog Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-statement-type":{"name":"put-db-record-statement-type","displayName":"Statement Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-update-keys":{"name":"put-db-record-update-keys","displayName":"Update Keys","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-quoted-identifiers":{"name":"put-db-record-quoted-identifiers","displayName":"Quote Column Identifiers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-unmatched-field-behavior":{"name":"put-db-record-unmatched-field-behavior","displayName":"Unmatched Field Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-max-batch-size":{"name":"put-db-record-max-batch-size","displayName":"Maximum Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Dialect Service":{"name":"Database Dialect Service","displayName":"Database Dialect Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Data Record Path":{"name":"Data Record Path","displayName":"Data Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"database-session-autocommit":{"name":"database-session-autocommit","displayName":"Database Session AutoCommit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"table-schema-cache-size":{"name":"table-schema-cache-size","displayName":"Table Schema Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-quoted-table-identifiers":{"name":"put-db-record-quoted-table-identifiers","displayName":"Quote Table Identifiers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Statement Type Record Path":{"name":"Statement Type Record Path","displayName":"Statement Type Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Column Name Translation Pattern":{"name":"Column Name Translation Pattern","displayName":"Column Name Translation Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-translate-field-names":{"name":"put-db-record-translate-field-names","displayName":"Translate Field Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-dcbp-service":{"name":"put-db-record-dcbp-service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"put-db-record-query-timeout":{"name":"put-db-record-query-timeout","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Column Name Translation Strategy":{"name":"Column Name Translation Strategy","displayName":"Column Name Translation Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"rollback-on-failure":{"name":"rollback-on-failure","displayName":"Rollback On Failure","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-binary-format":{"name":"put-db-record-binary-format","displayName":"Binary String Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"db-type":{"name":"db-type","displayName":"Database Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-table-name":{"name":"put-db-record-table-name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-record-reader":{"name":"put-db-record-record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{"background-color":"#c3ffc2"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":4,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"e5c77b08-2955-3a62-9bc9-b7961e61d84f","instanceIdentifier":"58a4a3d1-0196-1000-a66e-0dc18988cbc2","name":"","source":{"id":"6279a7a9-60ca-3743-8f42-42d1524dc5c8","type":"PROCESSOR","groupId":"a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0","name":"C.2-EvaluateJsonPath","comments":"","instanceIdentifier":"ea373288-a8da-3d8c-415e-f1cdf56f804c"},"destination":{"id":"1253bdb1-7210-3300-afb6-6225dcb2442f","type":"FUNNEL","groupId":"a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0","name":"Funnel","comments":"","instanceIdentifier":"dbc60d90-75cf-3d52-0ad9-3b771e3a26d8"},"labelIndex":0,"zIndex":0,"selectedRelationships":["unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"10 min","prioritizers":[],"bends":[{"x":1368.0,"y":-264.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0"},{"identifier":"556ee4f8-6ddf-3908-8916-41c13ec3f951","instanceIdentifier":"4d654a00-d567-33c2-a511-027044dd10b0","name":"","source":{"id":"f5b11fb1-c240-3c6b-b32d-08b7e58d79a9","type":"PROCESSOR","groupId":"a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0","name":"C.4-PutDatabaseRecord","comments":"","instanceIdentifier":"cc6e64c5-0011-3f14-607c-d1efd910c66a"},"destination":{"id":"b32892ef-6741-3c48-8f2b-458b1f4b66d1","type":"FUNNEL","groupId":"a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0","name":"Funnel","comments":"","instanceIdentifier":"0e0d0890-4cdc-3904-22c6-2cc08bfe5e3c"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0"},{"identifier":"7c28418b-6515-3c42-a910-eb910619e3f3","instanceIdentifier":"58a54446-0196-1000-5ba8-fe9b81078dcb","name":"","source":{"id":"f5b11fb1-c240-3c6b-b32d-08b7e58d79a9","type":"PROCESSOR","groupId":"a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0","name":"C.4-PutDatabaseRecord","comments":"","instanceIdentifier":"cc6e64c5-0011-3f14-607c-d1efd910c66a"},"destination":{"id":"b32892ef-6741-3c48-8f2b-458b1f4b66d1","type":"FUNNEL","groupId":"a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0","name":"Funnel","comments":"","instanceIdentifier":"0e0d0890-4cdc-3904-22c6-2cc08bfe5e3c"},"labelIndex":0,"zIndex":0,"selectedRelationships":["retry"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"10 min","prioritizers":[],"bends":[{"x":16.0,"y":-48.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0"},{"identifier":"3daffdf3-3700-32cd-8020-61233caaf3d4","instanceIdentifier":"3f8d1b8c-0196-1000-7a1e-86864e994889","name":"","source":{"id":"d5ad6939-6b01-3d3e-a40a-ab8aede5e8b0","type":"PROCESSOR","groupId":"a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0","name":"C.3-ReplaceText","comments":"","instanceIdentifier":"aac7c267-6fbc-3efc-14f0-aeb886435463"},"destination":{"id":"888380ea-3e9c-3aaf-864d-1c59a5bc0422","type":"FUNNEL","groupId":"a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0","name":"Funnel","comments":"","instanceIdentifier":"3f8cd1d8-0196-1000-abbc-8daaf403e832"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"10 min","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0"},{"identifier":"c4b83858-ca5f-3033-aea8-f095ea84fbb9","instanceIdentifier":"58c63ac4-0196-1000-54c9-adae15dc05f6","name":"","source":{"id":"6279a7a9-60ca-3743-8f42-42d1524dc5c8","type":"PROCESSOR","groupId":"a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0","name":"C.2-EvaluateJsonPath","comments":"","instanceIdentifier":"ea373288-a8da-3d8c-415e-f1cdf56f804c"},"destination":{"id":"d5ad6939-6b01-3d3e-a40a-ab8aede5e8b0","type":"PROCESSOR","groupId":"a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0","name":"C.3-ReplaceText","comments":"","instanceIdentifier":"aac7c267-6fbc-3efc-14f0-aeb886435463"},"labelIndex":0,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"10 min","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0"},{"identifier":"315f5b33-fa89-30b8-b144-8c5c56df269b","instanceIdentifier":"3f8c3133-0196-1000-d325-18e40cb35a7b","name":"","source":{"id":"d5ad6939-6b01-3d3e-a40a-ab8aede5e8b0","type":"PROCESSOR","groupId":"a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0","name":"C.3-ReplaceText","comments":"","instanceIdentifier":"aac7c267-6fbc-3efc-14f0-aeb886435463"},"destination":{"id":"f5b11fb1-c240-3c6b-b32d-08b7e58d79a9","type":"PROCESSOR","groupId":"a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0","name":"C.4-PutDatabaseRecord","comments":"","instanceIdentifier":"cc6e64c5-0011-3f14-607c-d1efd910c66a"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"10 min","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0"},{"identifier":"6fdab357-7233-3335-a140-f43b0a2f2d53","instanceIdentifier":"58c5c56e-0196-1000-3993-91463e3ec0f7","name":"","source":{"id":"3a91dca5-9c8d-3264-93a4-589f623cc61b","type":"PROCESSOR","groupId":"a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0","name":"C.1-ConsumeKafka","comments":"","instanceIdentifier":"cf55fd46-f49a-391b-2e8a-0467fbf85095"},"destination":{"id":"6279a7a9-60ca-3743-8f42-42d1524dc5c8","type":"PROCESSOR","groupId":"a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0","name":"C.2-EvaluateJsonPath","comments":"","instanceIdentifier":"ea373288-a8da-3d8c-415e-f1cdf56f804c"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"10 min","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0"},{"identifier":"62899fb1-8ec1-3ee9-be98-16663a768743","instanceIdentifier":"58a564be-0196-1000-89ed-8b7640d05447","name":"","source":{"id":"f5b11fb1-c240-3c6b-b32d-08b7e58d79a9","type":"PROCESSOR","groupId":"a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0","name":"C.4-PutDatabaseRecord","comments":"","instanceIdentifier":"cc6e64c5-0011-3f14-607c-d1efd910c66a"},"destination":{"id":"b32892ef-6741-3c48-8f2b-458b1f4b66d1","type":"FUNNEL","groupId":"a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0","name":"Funnel","comments":"","instanceIdentifier":"0e0d0890-4cdc-3904-22c6-2cc08bfe5e3c"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"10 min","prioritizers":[],"bends":[{"x":16.0,"y":112.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0"},{"identifier":"eb9085f5-d71c-3991-ba17-2edcc255b041","instanceIdentifier":"389146cd-d15a-3a1d-b060-23b2deed0fd1","name":"","source":{"id":"6279a7a9-60ca-3743-8f42-42d1524dc5c8","type":"PROCESSOR","groupId":"a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0","name":"C.2-EvaluateJsonPath","comments":"","instanceIdentifier":"ea373288-a8da-3d8c-415e-f1cdf56f804c"},"destination":{"id":"1253bdb1-7210-3300-afb6-6225dcb2442f","type":"FUNNEL","groupId":"a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0","name":"Funnel","comments":"","instanceIdentifier":"dbc60d90-75cf-3d52-0ad9-3b771e3a26d8"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0"}],"labels":[{"identifier":"47d055e3-0195-1000-4e59-198128a7fda5","instanceIdentifier":"0894cb93-62f6-3107-af54-4517300968f5","position":{"x":1704.0,"y":-256.0},"label":"Toma un flujo de datos JSON y lo divide en fragmentos más pequeños, utilizando todas las claves del JSON y representando los valores nulos como cadenas vacías.\nJsonPath Expression: $. *, selecciona todas las claves del JSON.\nNull Value Representation: empty string, representa los valores nulos como cadenas vacías.","zIndex":0,"width":328.0,"height":160.0,"style":{"background-color":"#b0d2e3","font-size":"14px"},"componentType":"LABEL","groupIdentifier":"a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0"},{"identifier":"ca57e8d0-2617-37a4-b234-5d1d02b5a89f","instanceIdentifier":"a6a9a09a-fa07-342d-73c5-e78fbef651d4","position":{"x":-768.0,"y":584.0},"label":"Inserta datos JSON en una tabla específica de una base de datos PostgreSQL\nRecord Reader: JsonTreeReader, lee datos en formato JSON.\nDatabase Type: PostgreSQL, tipo de base de datos.\nStatement Type: INSERT, tipo de declaración para insertar datos.\nDatabase Connection Pooling Service: DBCPConnectionPool Base Datos Prueba, servicio de pool de conexiones antes configurado.\nSchema Name: public, el esquema de la base de datos.\nTable Name: sube_alim_processed, el nombre de la tabla donde se insertan los datos.","zIndex":0,"width":408.0,"height":168.0,"style":{"background-color":"#adffbe","font-size":"12px"},"componentType":"LABEL","groupIdentifier":"a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0"},{"identifier":"ff325267-bc41-3203-bd1a-f8da2edf3854","instanceIdentifier":"4cf0ed0b-1182-3fd4-0c9f-846ebcbafc08","position":{"x":-776.0,"y":-264.0},"label":"Consume datos de un tema de Kafka, gestionando datos.\nControlador : Kafka3ConnectionService, para conectarse a Kafka.\nGroup ID: sube-alim-consumer-group, identifica el grupo de consumidores.\nTopic Format: names, formato para identificar los temas.\nTopics: sube-alim-data, el tema del que se consumen los datos.\nAuto Offset Reset: earliest, empieza desde el offset más antiguo si no hay un offset inicial.\nCommit Offsets: true, confirma automáticamente los desplazamientos.","zIndex":0,"width":392.0,"height":168.0,"style":{"background-color":"#b8b094","font-size":"12px"},"componentType":"LABEL","groupIdentifier":"a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0"},{"identifier":"5f6ffb8e-40ce-3f9d-be7f-f6e9b4440793","instanceIdentifier":"b6384ebb-4e25-3c81-d6d2-fd4e9396c52f","position":{"x":-768.0,"y":104.0},"label":"Extrae valores específicos de un flujo de datos JSON y los almacena como atributos\nDestination: flowfile-attribute, los valores extraídos se almacenan como atributos de archivo de flujo.\nReturn Type: auto-detect, detecta automáticamente el tipo de los valores extraídos.\nPath Not Found Behavior: ignore, ignora las rutas que no se encuentran.\nNull Value Representation: empty string, representa los valores nulos como cadenas vacías.\nMax String Length: 20 MB, longitud máxima de las cadenas.\nalimentador: $.alimentador, expresión JsonPath para extraer el valor de \"alimentador\".\nid_subestacion: $.id_subestacion, expresión JsonPath para extraer el valor de \"id_subestacion\".","zIndex":0,"width":368.0,"height":240.0,"style":{"background-color":"#e6d8e8","font-size":"12px"},"componentType":"LABEL","groupIdentifier":"a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0"}],"funnels":[{"identifier":"b32892ef-6741-3c48-8f2b-458b1f4b66d1","instanceIdentifier":"0e0d0890-4cdc-3904-22c6-2cc08bfe5e3c","position":{"x":-168.0,"y":16.0},"componentType":"FUNNEL","groupIdentifier":"a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0"},{"identifier":"1253bdb1-7210-3300-afb6-6225dcb2442f","instanceIdentifier":"dbc60d90-75cf-3d52-0ad9-3b771e3a26d8","position":{"x":1536.0,"y":-200.0},"componentType":"FUNNEL","groupIdentifier":"a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0"},{"identifier":"888380ea-3e9c-3aaf-864d-1c59a5bc0422","instanceIdentifier":"3f8cd1d8-0196-1000-abbc-8daaf403e832","position":{"x":1536.0,"y":0.0},"componentType":"FUNNEL","groupIdentifier":"a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0"}],"controllerServices":[{"identifier":"b2200125-c1e1-32ce-b152-14ba9efb25d0","instanceIdentifier":"8929caf8-5b9e-3568-62c1-c9fe26205f52","name":"JsonTreeReader","comments":"","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.2.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"Max String Length":"20 MB","schema-application-strategy":"SELECTED_PART","Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-name":"${schema.name}","starting-field-strategy":"ROOT_NODE","schema-registry":null,"starting-field-name":null,"Time Format":null,"schema-access-strategy":"infer-schema","schema-version":null,"schema-text":"${avro.schema}","Allow Comments":"false"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-application-strategy":{"name":"schema-application-strategy","displayName":"Schema Application Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"starting-field-strategy":{"name":"starting-field-strategy","displayName":"Starting Field Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"starting-field-name":{"name":"starting-field-name","displayName":"Starting Field Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Comments":{"name":"Allow Comments","displayName":"Allow Comments","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.2.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0"},{"identifier":"db2a0bb0-fd4a-3501-ba0c-1fb1549e26e3","instanceIdentifier":"7aa4e9e8-5c0c-3bd5-9333-b7077fd260a4","name":"Kafka3ConnectionService","comments":"","type":"org.apache.nifi.kafka.service.Kafka3ConnectionService","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-3-service-nar","version":"2.2.0"},"properties":{"security.protocol":"PLAINTEXT","SSL Context Service":null,"ack.wait.time":"5 sec","sasl.username":null,"max.poll.records":"10000","sasl.mechanism":"GSSAPI","isolation.level":"read_committed","max.block.ms":"5 sec","bootstrap.servers":"kafka_centrosur:9092","kerberos-user-service":null,"sasl.kerberos.service.name":null,"default.api.timeout.ms":"60 sec"},"propertyDescriptors":{"ack.wait.time":{"name":"ack.wait.time","displayName":"Acknowledgment Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sasl.username":{"name":"sasl.username","displayName":"SASL Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max.poll.records":{"name":"max.poll.records","displayName":"Max Poll Records","identifiesControllerService":false,"sensitive":false,"dynamic":false},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Bootstrap Servers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false,"dynamic":false},"isolation.level":{"name":"isolation.level","displayName":"Transaction Isolation Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max.block.ms":{"name":"max.block.ms","displayName":"Max Metadata Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sasl.password":{"name":"sasl.password","displayName":"SASL Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"default.api.timeout.ms":{"name":"default.api.timeout.ms","displayName":"Client Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.kafka.service.api.KafkaConnectionService","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-service-api-nar","version":"2.2.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0"},{"identifier":"7b4beb08-8006-3f14-89a1-8d79170a70e8","instanceIdentifier":"4c77f13e-b57a-3c70-6465-ee278d62a92f","name":"DBCPConnectionPool Base Datos Prueba","comments":"","type":"org.apache.nifi.dbcp.DBCPConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-dbcp-service-nar","version":"2.2.0"},"properties":{"dbcp-min-idle-conns":"0","Max Wait Time":"500 millis","Database Driver Class Name":"org.postgresql.Driver","dbcp-min-evictable-idle-time":"30 mins","Max Total Connections":"8","dbcp-max-conn-lifetime":"-1","Validation-query":null,"Database Connection URL":"jdbc:postgresql://postgres_centrosur:5432/base_prueba","dbcp-time-between-eviction-runs":"-1","Database User":"postgres","kerberos-user-service":null,"dbcp-soft-min-evictable-idle-time":"-1","database-driver-locations":"/opt/nifi/nifi-current/drivers/postgresql-42.7.1.jar","dbcp-max-idle-conns":"8"},"propertyDescriptors":{"dbcp-min-idle-conns":{"name":"dbcp-min-idle-conns","displayName":"Minimum Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Driver Class Name":{"name":"Database Driver Class Name","displayName":"Database Driver Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-min-evictable-idle-time":{"name":"dbcp-min-evictable-idle-time","displayName":"Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Total Connections":{"name":"Max Total Connections","displayName":"Max Total Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-max-conn-lifetime":{"name":"dbcp-max-conn-lifetime","displayName":"Max Connection Lifetime","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Validation-query":{"name":"Validation-query","displayName":"Validation query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection URL":{"name":"Database Connection URL","displayName":"Database Connection URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-time-between-eviction-runs":{"name":"dbcp-time-between-eviction-runs","displayName":"Time Between Eviction Runs","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database User":{"name":"Database User","displayName":"Database User","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"dbcp-soft-min-evictable-idle-time":{"name":"dbcp-soft-min-evictable-idle-time","displayName":"Soft Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"database-driver-locations":{"name":"database-driver-locations","displayName":"Database Driver Location(s)","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","URL","FILE"]}},"dbcp-max-idle-conns":{"name":"dbcp-max-idle-conns","displayName":"Max Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.2.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0"}],"defaultFlowFileExpiration":"10 min","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"9569b8b3-c2cc-3895-a8fa-a88033992ab8"}],"remoteProcessGroups":[],"processors":[],"inputPorts":[],"outputPorts":[],"connections":[],"labels":[{"identifier":"47ba41b8-0195-1000-e166-9f49d85fbaf6","instanceIdentifier":"01ce2a0e-2a5b-3608-7d21-9990c2fa8756","position":{"x":48.0,"y":-456.0},"label":"Grupo que consume los datos publicados en Kafka mediante el tema : sube-alim-data, y el grupo creado llamado sube-alim-consumer-group , del cual maneja los valores en json para volverlos a insertar especificando las tablas y insertarlos en una nueva BD Prueba con la tabla sube_alim_processed ","zIndex":0,"width":384.0,"height":160.0,"style":{"font-size":"16px"},"componentType":"LABEL","groupIdentifier":"9569b8b3-c2cc-3895-a8fa-a88033992ab8"},{"identifier":"2beae133-c305-3e8b-810d-62f40f68496f","instanceIdentifier":"9266629c-7237-3d6b-c171-e5df3c2095a9","position":{"x":-480.0,"y":-416.0},"label":"Grupo que Produce o obtiene de la BD la tabla sube_alim con 87 registros ,estos registros se transforman  de avro(que vienen de la BD) a json para un mejor manejo y estos datos se los publica a Kafka en el tema :sube-alim-data \n","zIndex":0,"width":384.0,"height":112.0,"style":{"font-size":"16px"},"componentType":"LABEL","groupIdentifier":"9569b8b3-c2cc-3895-a8fa-a88033992ab8"}],"funnels":[],"controllerServices":[],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}