flows/tension_dep.json
{"flowContents":{"identifier":"ac9746e6-310b-3fc4-ab44-5c7dc4cfadca","instanceIdentifier":"fc2031d5-0195-1000-f60e-39925f390f07","name":"tension_dep ","comments":"","position":{"x":-344.0,"y":-184.0},"processGroups":[{"identifier":"19683749-d095-382d-8a05-74b3b36f934c","instanceIdentifier":"244facb3-cf7c-3cf4-d463-be5099ce86c5","name":"Grupo Consumidor","comments":"","position":{"x":264.0,"y":-176.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"19d06675-1287-3d91-b80c-44ce898478e4","instanceIdentifier":"ea7b8768-f196-3c1a-832c-224d39d1a49e","name":"C.4-PutDatabaseRecord","comments":"","position":{"x":-504.0,"y":-72.0},"type":"org.apache.nifi.processors.standard.PutDatabaseRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"put-db-record-allow-multiple-statements":"false","put-db-record-schema-name":"public","put-db-record-field-containing-sql":null,"put-db-record-unmatched-column-behavior":"Ignore Unmatched Columns","Delete Keys":null,"put-db-record-catalog-name":null,"put-db-record-statement-type":"UPSERT","put-db-record-update-keys":"fecha,hora,id_subestacion","put-db-record-quoted-identifiers":"false","put-db-record-unmatched-field-behavior":"Ignore Unmatched Fields","put-db-record-max-batch-size":"100","Database Dialect Service":null,"Data Record Path":null,"database-session-autocommit":"false","table-schema-cache-size":"100","put-db-record-quoted-table-identifiers":"false","Statement Type Record Path":null,"Column Name Translation Pattern":null,"put-db-record-translate-field-names":"true","put-db-record-dcbp-service":"29574bd8-9ebb-3750-9d44-5d862d9484aa","put-db-record-query-timeout":"0 seconds","Column Name Translation Strategy":"REMOVE_UNDERSCORE","rollback-on-failure":"false","put-db-record-binary-format":"UTF-8","db-type":"PostgreSQL","put-db-record-table-name":"tension_dep_processed","put-db-record-record-reader":"c2632bde-dca9-3cbc-afa3-4fdf14165363"},"propertyDescriptors":{"put-db-record-allow-multiple-statements":{"name":"put-db-record-allow-multiple-statements","displayName":"Allow Multiple SQL Statements","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-schema-name":{"name":"put-db-record-schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-field-containing-sql":{"name":"put-db-record-field-containing-sql","displayName":"Field Containing SQL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-unmatched-column-behavior":{"name":"put-db-record-unmatched-column-behavior","displayName":"Unmatched Column Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Delete Keys":{"name":"Delete Keys","displayName":"Delete Keys","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-catalog-name":{"name":"put-db-record-catalog-name","displayName":"Catalog Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-statement-type":{"name":"put-db-record-statement-type","displayName":"Statement Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-update-keys":{"name":"put-db-record-update-keys","displayName":"Update Keys","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-quoted-identifiers":{"name":"put-db-record-quoted-identifiers","displayName":"Quote Column Identifiers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-unmatched-field-behavior":{"name":"put-db-record-unmatched-field-behavior","displayName":"Unmatched Field Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-max-batch-size":{"name":"put-db-record-max-batch-size","displayName":"Maximum Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Dialect Service":{"name":"Database Dialect Service","displayName":"Database Dialect Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Data Record Path":{"name":"Data Record Path","displayName":"Data Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"database-session-autocommit":{"name":"database-session-autocommit","displayName":"Database Session AutoCommit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"table-schema-cache-size":{"name":"table-schema-cache-size","displayName":"Table Schema Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-quoted-table-identifiers":{"name":"put-db-record-quoted-table-identifiers","displayName":"Quote Table Identifiers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Statement Type Record Path":{"name":"Statement Type Record Path","displayName":"Statement Type Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Column Name Translation Pattern":{"name":"Column Name Translation Pattern","displayName":"Column Name Translation Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-translate-field-names":{"name":"put-db-record-translate-field-names","displayName":"Translate Field Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-dcbp-service":{"name":"put-db-record-dcbp-service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"put-db-record-query-timeout":{"name":"put-db-record-query-timeout","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Column Name Translation Strategy":{"name":"Column Name Translation Strategy","displayName":"Column Name Translation Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"rollback-on-failure":{"name":"rollback-on-failure","displayName":"Rollback On Failure","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-binary-format":{"name":"put-db-record-binary-format","displayName":"Binary String Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"db-type":{"name":"db-type","displayName":"Database Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-table-name":{"name":"put-db-record-table-name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-record-reader":{"name":"put-db-record-record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":6,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"19683749-d095-382d-8a05-74b3b36f934c"},{"identifier":"df509132-5d68-3656-9ee1-a24babbb3d96","instanceIdentifier":"10602275-1ce9-387e-01b5-e1a25f542fac","name":"C.2-EvaluateJsonPath","comments":"","position":{"x":152.0,"y":-280.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"Destination":"flowfile-attribute","id_subestacion":"$.id_subestacion","fecha":"$.fecha","tension_servicio":"$.tension_servicio","Max String Length":"20 MB","hora":"$.hora","Return Type":"auto-detect","Null Value Representation":"empty string","Path Not Found Behavior":"warn","dia_semana":"$.dia_semana"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"id_subestacion":{"name":"id_subestacion","displayName":"id_subestacion","identifiesControllerService":false,"sensitive":false,"dynamic":true},"fecha":{"name":"fecha","displayName":"fecha","identifiesControllerService":false,"sensitive":false,"dynamic":true},"tension_servicio":{"name":"tension_servicio","displayName":"tension_servicio","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"hora":{"name":"hora","displayName":"hora","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dia_semana":{"name":"dia_semana","displayName":"dia_semana","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":6,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"19683749-d095-382d-8a05-74b3b36f934c"},{"identifier":"b67a190c-a2c6-3fa3-9eb7-a7693a1f1631","instanceIdentifier":"b35d2a5c-1fc7-3fcd-e2ed-2940af5b8e5a","name":"C.3-ReplaceText","comments":"","position":{"x":160.0,"y":-64.0},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"Regular Expression":"(?s)(^.*$)","Replacement Value":"{ \n  \"fecha\": \"${fecha:replaceNull(\"\")}\", \n  \"hora\": \"${hora:replaceNull(\"\")}\", \n  \"id_subestacion\": ${id_subestacion:replaceNull(\"1\")}, \n  \"dia_semana\": ${dia_semana:replaceNull(\"0\")}, \n  \"tension_servicio\": ${tension_servicio:replaceNull(\"0.0\")} \n}","Evaluation Mode":"Line-by-Line","Text to Prepend":null,"Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Always Replace","Text to Append":null},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Prepend":{"name":"Text to Prepend","displayName":"Text to Prepend","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Append":{"name":"Text to Append","displayName":"Text to Append","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":6,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"19683749-d095-382d-8a05-74b3b36f934c"},{"identifier":"7ad01070-b4d0-3ae0-98cf-28c7a5aa8162","instanceIdentifier":"e2d2da63-6369-3361-6f07-073bc8eec40f","name":"C.1-ConsumeKafka","comments":"","position":{"x":-496.0,"y":-288.0},"type":"org.apache.nifi.kafka.processors.ConsumeKafka","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-nar","version":"2.2.0"},"properties":{"Topics":"tension_data","Commit Offsets":"true","Header Name Pattern":null,"Key Format":"byte-array","Key Record Reader":null,"Message Demarcator":null,"Record Reader":null,"Key Attribute Encoding":"utf-8","Topic Format":"names","Header Encoding":"UTF-8","Max Uncommitted Time":"10 sec","Kafka Connection Service":"2461f96a-df56-30a2-a74d-c76a7f292c17","Separate By Key":"false","Processing Strategy":"FLOW_FILE","Record Writer":null,"Group ID":"tension-data-new-1","auto.offset.reset":"earliest","Output Strategy":"USE_VALUE"},"propertyDescriptors":{"Topics":{"name":"Topics","displayName":"Topics","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Commit Offsets":{"name":"Commit Offsets","displayName":"Commit Offsets","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Header Name Pattern":{"name":"Header Name Pattern","displayName":"Header Name Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Key Format":{"name":"Key Format","displayName":"Key Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Key Record Reader":{"name":"Key Record Reader","displayName":"Key Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Message Demarcator":{"name":"Message Demarcator","displayName":"Message Demarcator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Key Attribute Encoding":{"name":"Key Attribute Encoding","displayName":"Key Attribute Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Topic Format":{"name":"Topic Format","displayName":"Topic Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Header Encoding":{"name":"Header Encoding","displayName":"Header Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Uncommitted Time":{"name":"Max Uncommitted Time","displayName":"Max Uncommitted Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Kafka Connection Service":{"name":"Kafka Connection Service","displayName":"Kafka Connection Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Separate By Key":{"name":"Separate By Key","displayName":"Separate By Key","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Processing Strategy":{"name":"Processing Strategy","displayName":"Processing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Group ID":{"name":"Group ID","displayName":"Group ID","identifiesControllerService":false,"sensitive":false,"dynamic":false},"auto.offset.reset":{"name":"auto.offset.reset","displayName":"Auto Offset Reset","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Strategy":{"name":"Output Strategy","displayName":"Output Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"500 ms","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":8,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"19683749-d095-382d-8a05-74b3b36f934c"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"1c7b4704-feff-341f-bd56-1a5da27401a1","instanceIdentifier":"588a3f82-0196-1000-eb91-4c0ea075871e","name":"","source":{"id":"7ad01070-b4d0-3ae0-98cf-28c7a5aa8162","type":"PROCESSOR","groupId":"19683749-d095-382d-8a05-74b3b36f934c","name":"C.1-ConsumeKafka","comments":"","instanceIdentifier":"e2d2da63-6369-3361-6f07-073bc8eec40f"},"destination":{"id":"df509132-5d68-3656-9ee1-a24babbb3d96","type":"PROCESSOR","groupId":"19683749-d095-382d-8a05-74b3b36f934c","name":"C.2-EvaluateJsonPath","comments":"","instanceIdentifier":"10602275-1ce9-387e-01b5-e1a25f542fac"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"19683749-d095-382d-8a05-74b3b36f934c"},{"identifier":"ffd99671-32bb-36f9-9361-ae78195d96e2","instanceIdentifier":"700fc910-e827-3f8f-74b3-18ad2f3018ad","name":"","source":{"id":"19d06675-1287-3d91-b80c-44ce898478e4","type":"PROCESSOR","groupId":"19683749-d095-382d-8a05-74b3b36f934c","name":"C.4-PutDatabaseRecord","comments":"","instanceIdentifier":"ea7b8768-f196-3c1a-832c-224d39d1a49e"},"destination":{"id":"4b5d0068-ce9b-398e-a189-3f7591a0896a","type":"FUNNEL","groupId":"19683749-d095-382d-8a05-74b3b36f934c","name":"Funnel","comments":"","instanceIdentifier":"0748b0c6-486e-31fc-e69b-c7876a9d07e5"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":450000,"backPressureDataSizeThreshold":"45 GB","flowFileExpiration":"10 min","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"19683749-d095-382d-8a05-74b3b36f934c"},{"identifier":"cc913c8b-6b29-3de1-8b1b-b71953b31eee","instanceIdentifier":"6e3390e3-e575-34d6-19ef-767d53c5554d","name":"","source":{"id":"19d06675-1287-3d91-b80c-44ce898478e4","type":"PROCESSOR","groupId":"19683749-d095-382d-8a05-74b3b36f934c","name":"C.4-PutDatabaseRecord","comments":"","instanceIdentifier":"ea7b8768-f196-3c1a-832c-224d39d1a49e"},"destination":{"id":"4b5d0068-ce9b-398e-a189-3f7591a0896a","type":"FUNNEL","groupId":"19683749-d095-382d-8a05-74b3b36f934c","name":"Funnel","comments":"","instanceIdentifier":"0748b0c6-486e-31fc-e69b-c7876a9d07e5"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-680.0,"y":-80.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"19683749-d095-382d-8a05-74b3b36f934c"},{"identifier":"888653e2-db17-3afc-a612-f07b3e90b585","instanceIdentifier":"588b4fae-0196-1000-f358-9f97aaf14eec","name":"","source":{"id":"19d06675-1287-3d91-b80c-44ce898478e4","type":"PROCESSOR","groupId":"19683749-d095-382d-8a05-74b3b36f934c","name":"C.4-PutDatabaseRecord","comments":"","instanceIdentifier":"ea7b8768-f196-3c1a-832c-224d39d1a49e"},"destination":{"id":"4b5d0068-ce9b-398e-a189-3f7591a0896a","type":"FUNNEL","groupId":"19683749-d095-382d-8a05-74b3b36f934c","name":"Funnel","comments":"","instanceIdentifier":"0748b0c6-486e-31fc-e69b-c7876a9d07e5"},"labelIndex":0,"zIndex":0,"selectedRelationships":["retry"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-680.0,"y":96.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"19683749-d095-382d-8a05-74b3b36f934c"},{"identifier":"9215f40b-6c76-3c60-9ee2-f5e510710601","instanceIdentifier":"fada2da7-f5b8-35dc-56e3-7f03c6504dc4","name":"","source":{"id":"df509132-5d68-3656-9ee1-a24babbb3d96","type":"PROCESSOR","groupId":"19683749-d095-382d-8a05-74b3b36f934c","name":"C.2-EvaluateJsonPath","comments":"","instanceIdentifier":"10602275-1ce9-387e-01b5-e1a25f542fac"},"destination":{"id":"9f9a4ca6-2fda-366d-a607-434ee549d141","type":"FUNNEL","groupId":"19683749-d095-382d-8a05-74b3b36f934c","name":"Funnel","comments":"","instanceIdentifier":"643a5fa4-7956-3ad7-471a-33038053832c"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"19683749-d095-382d-8a05-74b3b36f934c"},{"identifier":"768727b0-66fd-3815-ae43-66171a7fb198","instanceIdentifier":"588a72ab-0196-1000-5676-4fc48abc1a06","name":"","source":{"id":"b67a190c-a2c6-3fa3-9eb7-a7693a1f1631","type":"PROCESSOR","groupId":"19683749-d095-382d-8a05-74b3b36f934c","name":"C.3-ReplaceText","comments":"","instanceIdentifier":"b35d2a5c-1fc7-3fcd-e2ed-2940af5b8e5a"},"destination":{"id":"19d06675-1287-3d91-b80c-44ce898478e4","type":"PROCESSOR","groupId":"19683749-d095-382d-8a05-74b3b36f934c","name":"C.4-PutDatabaseRecord","comments":"","instanceIdentifier":"ea7b8768-f196-3c1a-832c-224d39d1a49e"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"19683749-d095-382d-8a05-74b3b36f934c"},{"identifier":"d199beaa-6f31-395a-a627-58fb40c6cdcf","instanceIdentifier":"44b53bc0-895e-369f-13dd-b3d422b43831","name":"","source":{"id":"b67a190c-a2c6-3fa3-9eb7-a7693a1f1631","type":"PROCESSOR","groupId":"19683749-d095-382d-8a05-74b3b36f934c","name":"C.3-ReplaceText","comments":"","instanceIdentifier":"b35d2a5c-1fc7-3fcd-e2ed-2940af5b8e5a"},"destination":{"id":"21c82c52-4fd4-3d59-a580-ec228bb1ea6d","type":"FUNNEL","groupId":"19683749-d095-382d-8a05-74b3b36f934c","name":"Funnel","comments":"","instanceIdentifier":"11a9e7a4-e4bc-3111-9fc8-921cd7e29342"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"19683749-d095-382d-8a05-74b3b36f934c"},{"identifier":"ea965e54-898b-3742-a11f-527c2aa79752","instanceIdentifier":"17efd99a-edc4-3d2e-e138-8719ddfb03d1","name":"","source":{"id":"df509132-5d68-3656-9ee1-a24babbb3d96","type":"PROCESSOR","groupId":"19683749-d095-382d-8a05-74b3b36f934c","name":"C.2-EvaluateJsonPath","comments":"","instanceIdentifier":"10602275-1ce9-387e-01b5-e1a25f542fac"},"destination":{"id":"9f9a4ca6-2fda-366d-a607-434ee549d141","type":"FUNNEL","groupId":"19683749-d095-382d-8a05-74b3b36f934c","name":"Funnel","comments":"","instanceIdentifier":"643a5fa4-7956-3ad7-471a-33038053832c"},"labelIndex":0,"zIndex":0,"selectedRelationships":["unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":736.0,"y":-144.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"19683749-d095-382d-8a05-74b3b36f934c"},{"identifier":"e6dcfb51-ee40-33bf-9466-47cd130af5c8","instanceIdentifier":"c97a17f0-1aa0-3667-8f71-d97f2567654e","name":"","source":{"id":"df509132-5d68-3656-9ee1-a24babbb3d96","type":"PROCESSOR","groupId":"19683749-d095-382d-8a05-74b3b36f934c","name":"C.2-EvaluateJsonPath","comments":"","instanceIdentifier":"10602275-1ce9-387e-01b5-e1a25f542fac"},"destination":{"id":"b67a190c-a2c6-3fa3-9eb7-a7693a1f1631","type":"PROCESSOR","groupId":"19683749-d095-382d-8a05-74b3b36f934c","name":"C.3-ReplaceText","comments":"","instanceIdentifier":"b35d2a5c-1fc7-3fcd-e2ed-2940af5b8e5a"},"labelIndex":0,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"19683749-d095-382d-8a05-74b3b36f934c"}],"labels":[],"funnels":[{"identifier":"9f9a4ca6-2fda-366d-a607-434ee549d141","instanceIdentifier":"643a5fa4-7956-3ad7-471a-33038053832c","position":{"x":976.0,"y":-240.0},"componentType":"FUNNEL","groupIdentifier":"19683749-d095-382d-8a05-74b3b36f934c"},{"identifier":"4b5d0068-ce9b-398e-a189-3f7591a0896a","instanceIdentifier":"0748b0c6-486e-31fc-e69b-c7876a9d07e5","position":{"x":-912.0,"y":-24.0},"componentType":"FUNNEL","groupIdentifier":"19683749-d095-382d-8a05-74b3b36f934c"},{"identifier":"21c82c52-4fd4-3d59-a580-ec228bb1ea6d","instanceIdentifier":"11a9e7a4-e4bc-3111-9fc8-921cd7e29342","position":{"x":856.0,"y":-8.0},"componentType":"FUNNEL","groupIdentifier":"19683749-d095-382d-8a05-74b3b36f934c"}],"controllerServices":[{"identifier":"c2632bde-dca9-3cbc-afa3-4fdf14165363","instanceIdentifier":"072357af-88c8-36fa-0865-e1a8f696184f","name":"JsonTreeReader","comments":"","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.2.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"Max String Length":"20 MB","schema-application-strategy":"SELECTED_PART","Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-name":"${schema.name}","starting-field-strategy":"ROOT_NODE","schema-registry":null,"starting-field-name":null,"Time Format":null,"schema-access-strategy":"schema-text-property","schema-version":null,"schema-text":"{ \n  \"type\": \"record\", \n  \"name\": \"Tension_processed\", \n  \"fields\": [ \n    {\"name\": \"fecha\", \"type\": \"string\"}, \n    {\"name\": \"hora\", \"type\": \"string\"}, \n    {\"name\": \"id_subestacion\", \"type\": [\"null\", \"int\"], \"default\": null}, \n    {\"name\": \"dia_semana\", \"type\": [\"null\", \"int\"], \"default\": null}, \n    {\"name\": \"tension_servicio\", \"type\": [\"null\", \"float\"], \"default\": null} \n  ],\n  \"namespace\": \"org.apache.nifi.record.path\"\n}","Allow Comments":"false"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-application-strategy":{"name":"schema-application-strategy","displayName":"Schema Application Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"starting-field-strategy":{"name":"starting-field-strategy","displayName":"Starting Field Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"starting-field-name":{"name":"starting-field-name","displayName":"Starting Field Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Comments":{"name":"Allow Comments","displayName":"Allow Comments","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.2.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"19683749-d095-382d-8a05-74b3b36f934c"},{"identifier":"29574bd8-9ebb-3750-9d44-5d862d9484aa","instanceIdentifier":"b1e56b3f-3c62-3410-e4ec-621d3fb29b59","name":"DBCPConnectionPool","comments":"","type":"org.apache.nifi.dbcp.DBCPConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-dbcp-service-nar","version":"2.2.0"},"properties":{"dbcp-min-idle-conns":"0","Max Wait Time":"500 millis","Database Driver Class Name":"org.postgresql.Driver","dbcp-min-evictable-idle-time":"30 mins","Max Total Connections":"8","dbcp-max-conn-lifetime":"-1","Validation-query":null,"Database Connection URL":"jdbc:postgresql://postgres_centrosur:5432/base_prueba","dbcp-time-between-eviction-runs":"-1","Database User":"postgres","kerberos-user-service":null,"dbcp-soft-min-evictable-idle-time":"-1","database-driver-locations":"/opt/nifi/nifi-current/drivers/postgresql-42.7.1.jar","dbcp-max-idle-conns":"8"},"propertyDescriptors":{"dbcp-min-idle-conns":{"name":"dbcp-min-idle-conns","displayName":"Minimum Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Driver Class Name":{"name":"Database Driver Class Name","displayName":"Database Driver Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-min-evictable-idle-time":{"name":"dbcp-min-evictable-idle-time","displayName":"Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Total Connections":{"name":"Max Total Connections","displayName":"Max Total Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-max-conn-lifetime":{"name":"dbcp-max-conn-lifetime","displayName":"Max Connection Lifetime","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Validation-query":{"name":"Validation-query","displayName":"Validation query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection URL":{"name":"Database Connection URL","displayName":"Database Connection URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-time-between-eviction-runs":{"name":"dbcp-time-between-eviction-runs","displayName":"Time Between Eviction Runs","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database User":{"name":"Database User","displayName":"Database User","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"dbcp-soft-min-evictable-idle-time":{"name":"dbcp-soft-min-evictable-idle-time","displayName":"Soft Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"database-driver-locations":{"name":"database-driver-locations","displayName":"Database Driver Location(s)","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","URL","FILE"]}},"dbcp-max-idle-conns":{"name":"dbcp-max-idle-conns","displayName":"Max Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.2.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"19683749-d095-382d-8a05-74b3b36f934c"},{"identifier":"2461f96a-df56-30a2-a74d-c76a7f292c17","instanceIdentifier":"83e8c057-3f4f-3a3d-26c1-3acecd16a92f","name":"Kafka3ConnectionService","comments":"","type":"org.apache.nifi.kafka.service.Kafka3ConnectionService","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-3-service-nar","version":"2.2.0"},"properties":{"security.protocol":"PLAINTEXT","SSL Context Service":null,"ack.wait.time":"5 sec","sasl.username":null,"max.poll.records":"10000","sasl.mechanism":"GSSAPI","isolation.level":"read_committed","max.block.ms":"5 sec","bootstrap.servers":"kafka_centrosur:9092","kerberos-user-service":null,"sasl.kerberos.service.name":null,"default.api.timeout.ms":"60 sec"},"propertyDescriptors":{"ack.wait.time":{"name":"ack.wait.time","displayName":"Acknowledgment Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sasl.username":{"name":"sasl.username","displayName":"SASL Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max.poll.records":{"name":"max.poll.records","displayName":"Max Poll Records","identifiesControllerService":false,"sensitive":false,"dynamic":false},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Bootstrap Servers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false,"dynamic":false},"isolation.level":{"name":"isolation.level","displayName":"Transaction Isolation Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max.block.ms":{"name":"max.block.ms","displayName":"Max Metadata Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sasl.password":{"name":"sasl.password","displayName":"SASL Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"default.api.timeout.ms":{"name":"default.api.timeout.ms","displayName":"Client Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.kafka.service.api.KafkaConnectionService","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-service-api-nar","version":"2.2.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"19683749-d095-382d-8a05-74b3b36f934c"}],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"ac9746e6-310b-3fc4-ab44-5c7dc4cfadca"},{"identifier":"f35dfed5-6e7e-33cd-8455-234c0136d8c7","instanceIdentifier":"e3aa9cec-a187-3ecf-c5c1-e7e12a488214","name":"Grupo Productor","comments":"","position":{"x":-328.0,"y":-176.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"34c944c5-bee6-32d9-b793-2988478f5f6e","instanceIdentifier":"4d3bf24a-e964-32e1-75a7-ada948f32adc","name":"P.3-SplitJson","comments":"","position":{"x":32.0,"y":-144.0},"type":"org.apache.nifi.processors.standard.SplitJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"Max String Length":"5 MB","Null Value Representation":"empty string","JsonPath Expression":"$[*]"},"propertyDescriptors":{"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":8,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f35dfed5-6e7e-33cd-8455-234c0136d8c7"},{"identifier":"9455f1fb-6da2-39e0-b584-f84678b60c7d","instanceIdentifier":"588ea648-0196-1000-d5bb-b08b6489929c","name":"P.6-PutDatabaseRecord","comments":"","position":{"x":48.0,"y":128.0},"type":"org.apache.nifi.processors.standard.PutDatabaseRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"put-db-record-allow-multiple-statements":"false","put-db-record-schema-name":"public","put-db-record-field-containing-sql":null,"put-db-record-unmatched-column-behavior":"Fail on Unmatched Columns","Delete Keys":null,"put-db-record-catalog-name":null,"put-db-record-statement-type":"INSERT","put-db-record-update-keys":null,"put-db-record-quoted-identifiers":"false","put-db-record-unmatched-field-behavior":"Ignore Unmatched Fields","put-db-record-max-batch-size":"1000","Database Dialect Service":null,"Data Record Path":null,"database-session-autocommit":"false","table-schema-cache-size":"100","put-db-record-quoted-table-identifiers":"false","Statement Type Record Path":null,"Column Name Translation Pattern":null,"put-db-record-translate-field-names":"true","put-db-record-dcbp-service":"698f45c8-cd4c-3928-beb2-0db776791738","put-db-record-query-timeout":"0 seconds","Column Name Translation Strategy":"REMOVE_UNDERSCORE","rollback-on-failure":"false","put-db-record-binary-format":"UTF-8","db-type":"Generic","put-db-record-table-name":"datos_enviados","put-db-record-record-reader":"8c46f2d6-68ab-3431-86db-a2f8cb4e0e0b"},"propertyDescriptors":{"put-db-record-allow-multiple-statements":{"name":"put-db-record-allow-multiple-statements","displayName":"Allow Multiple SQL Statements","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-schema-name":{"name":"put-db-record-schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-field-containing-sql":{"name":"put-db-record-field-containing-sql","displayName":"Field Containing SQL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-unmatched-column-behavior":{"name":"put-db-record-unmatched-column-behavior","displayName":"Unmatched Column Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Delete Keys":{"name":"Delete Keys","displayName":"Delete Keys","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-catalog-name":{"name":"put-db-record-catalog-name","displayName":"Catalog Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-statement-type":{"name":"put-db-record-statement-type","displayName":"Statement Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-update-keys":{"name":"put-db-record-update-keys","displayName":"Update Keys","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-quoted-identifiers":{"name":"put-db-record-quoted-identifiers","displayName":"Quote Column Identifiers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-unmatched-field-behavior":{"name":"put-db-record-unmatched-field-behavior","displayName":"Unmatched Field Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-max-batch-size":{"name":"put-db-record-max-batch-size","displayName":"Maximum Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Dialect Service":{"name":"Database Dialect Service","displayName":"Database Dialect Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Data Record Path":{"name":"Data Record Path","displayName":"Data Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"database-session-autocommit":{"name":"database-session-autocommit","displayName":"Database Session AutoCommit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"table-schema-cache-size":{"name":"table-schema-cache-size","displayName":"Table Schema Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-quoted-table-identifiers":{"name":"put-db-record-quoted-table-identifiers","displayName":"Quote Table Identifiers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Statement Type Record Path":{"name":"Statement Type Record Path","displayName":"Statement Type Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Column Name Translation Pattern":{"name":"Column Name Translation Pattern","displayName":"Column Name Translation Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-translate-field-names":{"name":"put-db-record-translate-field-names","displayName":"Translate Field Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-dcbp-service":{"name":"put-db-record-dcbp-service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"put-db-record-query-timeout":{"name":"put-db-record-query-timeout","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Column Name Translation Strategy":{"name":"Column Name Translation Strategy","displayName":"Column Name Translation Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"rollback-on-failure":{"name":"rollback-on-failure","displayName":"Rollback On Failure","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-binary-format":{"name":"put-db-record-binary-format","displayName":"Binary String Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"db-type":{"name":"db-type","displayName":"Database Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-table-name":{"name":"put-db-record-table-name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-record-reader":{"name":"put-db-record-record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":6,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f35dfed5-6e7e-33cd-8455-234c0136d8c7"},{"identifier":"426cce26-0070-351d-9d20-5c95d7417859","instanceIdentifier":"322d1e83-e6f3-33b3-9d67-4e1b5c8a0ca5","name":"P.4-MergeContent","comments":"","position":{"x":-576.0,"y":-160.0},"type":"org.apache.nifi.processors.standard.MergeContent","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"Keep Path":"false","Maximum Group Size":null,"Merge Strategy":"Bin-Packing Algorithm","Attribute Strategy":"Keep Only Common Attributes","FlowFile Insertion Strategy":"Last in Bin","Compression Level":"1","Maximum Number of Entries":"200","Minimum Group Size":"0 B","Maximum number of Bins":"5","Tar Modified Time":"${file.lastModifiedTime}","Delimiter Strategy":"Do Not Use Delimiters","Merge Format":"Binary Concatenation","Footer File":null,"Max Bin Age":null,"Demarcator File":null,"Correlation Attribute Name":null,"Bin Termination Check":null,"Header File":null,"mergecontent-metadata-strategy":"Do Not Merge Uncommon Metadata","Minimum Number of Entries":"200"},"propertyDescriptors":{"Keep Path":{"name":"Keep Path","displayName":"Keep Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Group Size":{"name":"Maximum Group Size","displayName":"Maximum Group Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Merge Strategy":{"name":"Merge Strategy","displayName":"Merge Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attribute Strategy":{"name":"Attribute Strategy","displayName":"Attribute Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"FlowFile Insertion Strategy":{"name":"FlowFile Insertion Strategy","displayName":"FlowFile Insertion Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Compression Level":{"name":"Compression Level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Number of Entries":{"name":"Maximum Number of Entries","displayName":"Maximum Number of Entries","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum Group Size":{"name":"Minimum Group Size","displayName":"Minimum Group Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum number of Bins":{"name":"Maximum number of Bins","displayName":"Maximum number of Bins","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Tar Modified Time":{"name":"Tar Modified Time","displayName":"Tar Modified Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Delimiter Strategy":{"name":"Delimiter Strategy","displayName":"Delimiter Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Merge Format":{"name":"Merge Format","displayName":"Merge Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Footer File":{"name":"Footer File","displayName":"Footer","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["TEXT","FILE"]}},"Max Bin Age":{"name":"Max Bin Age","displayName":"Max Bin Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Demarcator File":{"name":"Demarcator File","displayName":"Demarcator","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["TEXT","FILE"]}},"Correlation Attribute Name":{"name":"Correlation Attribute Name","displayName":"Correlation Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Bin Termination Check":{"name":"Bin Termination Check","displayName":"Bin Termination Check","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Header File":{"name":"Header File","displayName":"Header","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["TEXT","FILE"]}},"mergecontent-metadata-strategy":{"name":"mergecontent-metadata-strategy","displayName":"Metadata Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum Number of Entries":{"name":"Minimum Number of Entries","displayName":"Minimum Number of Entries","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f35dfed5-6e7e-33cd-8455-234c0136d8c7"},{"identifier":"d1fd750d-d5f6-3935-b75c-acf060301cb4","instanceIdentifier":"ea650125-b3d2-3514-90e1-5d1240232422","name":"P.2-ConvertRecord","comments":"","position":{"x":24.0,"y":-400.0},"type":"org.apache.nifi.processors.standard.ConvertRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"Include Zero Record FlowFiles":"true","Record Writer":"76ca5099-75a9-3496-8eaa-5b9e00d9851f","Record Reader":"8d775c29-b4c5-39c1-9b37-97e5c2c0bd84"},"propertyDescriptors":{"Include Zero Record FlowFiles":{"name":"Include Zero Record FlowFiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":6,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f35dfed5-6e7e-33cd-8455-234c0136d8c7"},{"identifier":"90457817-e049-34b1-9f7a-c34bc93e71fc","instanceIdentifier":"b55d4537-4750-36f4-d706-dacc8a2d091e","name":"P.1-QueryDatabaseTable","comments":"","position":{"x":-608.0,"y":-400.0},"type":"org.apache.nifi.processors.standard.QueryDatabaseTable","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"default.end.date":"CURRENT_DATE","Table Name":"tension_dep","db-fetch-db-type":"PostgreSQL","dbf-default-precision":"10","Set Auto Commit":null,"Max Wait Time":"0 seconds","Database Connection Pooling Service":"4ffbe41a-04ea-3e79-8c1a-0cd91cc6fb8f","Maximum-value Columns":null,"dbf-user-logical-types":"false","qdbt-output-batch-size":"1000","qdbt-max-rows":"0","qdbt-max-frags":"10","dbf-default-scale":"0","initial-load-strategy":"Start at Beginning","Fetch Size":"1000","db-fetch-sql-query":"/* CONSULTA BASE - NO MODIFICAR MANUALMENTE */\nSELECT \n    fecha, \n    hora, \n    id_subestacion, \n    dia_semana, \n    tension_servicio\nFROM tension_dep \nWHERE 1=1\nORDER BY fecha, hora, id_subestacion","Columns to Return":null,"default.start.date":"CURRENT_DATE - INTERVAL '1 day'","db-fetch-where-clause":null,"dbf-normalize":"false","transaction-isolation-level":null,"Database Dialect Service":null},"propertyDescriptors":{"default.end.date":{"name":"default.end.date","displayName":"default.end.date","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Table Name":{"name":"Table Name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"db-fetch-db-type":{"name":"db-fetch-db-type","displayName":"Database Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Set Auto Commit":{"name":"Set Auto Commit","displayName":"Set Auto Commit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Maximum-value Columns":{"name":"Maximum-value Columns","displayName":"Maximum-value Columns","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-user-logical-types":{"name":"dbf-user-logical-types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false,"dynamic":false},"qdbt-output-batch-size":{"name":"qdbt-output-batch-size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"qdbt-max-rows":{"name":"qdbt-max-rows","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false,"dynamic":false},"qdbt-max-frags":{"name":"qdbt-max-frags","displayName":"Maximum Number of Fragments","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false,"dynamic":false},"initial-load-strategy":{"name":"initial-load-strategy","displayName":"Initial Load Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Fetch Size":{"name":"Fetch Size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"db-fetch-sql-query":{"name":"db-fetch-sql-query","displayName":"Custom Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Columns to Return":{"name":"Columns to Return","displayName":"Columns to Return","identifiesControllerService":false,"sensitive":false,"dynamic":false},"default.start.date":{"name":"default.start.date","displayName":"default.start.date","identifiesControllerService":false,"sensitive":false,"dynamic":true},"db-fetch-where-clause":{"name":"db-fetch-where-clause","displayName":"Additional WHERE clause","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-normalize":{"name":"dbf-normalize","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"transaction-isolation-level":{"name":"transaction-isolation-level","displayName":"Transaction Isolation Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Dialect Service":{"name":"Database Dialect Service","displayName":"Database Dialect Service","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"120 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"PRIMARY","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f35dfed5-6e7e-33cd-8455-234c0136d8c7"},{"identifier":"e6885254-0252-332c-aac8-77b17af96ad8","instanceIdentifier":"9bb6f370-cd3d-325a-47ca-661cc2cb64d5","name":"P5-PublishKafka","comments":"","position":{"x":-576.0,"y":128.0},"type":"org.apache.nifi.kafka.processors.PublishKafka","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-nar","version":"2.2.0"},"properties":{"compression.type":"snappy","acks":"0","Message Demarcator":null,"Kafka Key Attribute Encoding":"utf-8","Record Reader":null,"Record Metadata Strategy":"FROM_PROPERTIES","Transactional ID Prefix":null,"Header Encoding":"UTF-8","max.request.size":"1 MB","Topic Name":"tension_data","Kafka Key":null,"partition":null,"Kafka Connection Service":"8401e8cd-0a28-3375-a10c-355c03db2f15","Publish Strategy":"USE_VALUE","Record Key Writer":null,"Failure Strategy":"Route to Failure","partitioner.class":"org.apache.kafka.clients.producer.internals.DefaultPartitioner","Record Writer":null,"Transactions Enabled":"false","Message Key Field":null,"FlowFile Attribute Header Pattern":null},"propertyDescriptors":{"compression.type":{"name":"compression.type","displayName":"Compression Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"acks":{"name":"acks","displayName":"Delivery Guarantee","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Message Demarcator":{"name":"Message Demarcator","displayName":"Message Demarcator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Kafka Key Attribute Encoding":{"name":"Kafka Key Attribute Encoding","displayName":"Kafka Key Attribute Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Metadata Strategy":{"name":"Record Metadata Strategy","displayName":"Record Metadata Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Transactional ID Prefix":{"name":"Transactional ID Prefix","displayName":"Transactional ID Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Header Encoding":{"name":"Header Encoding","displayName":"Header Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max.request.size":{"name":"max.request.size","displayName":"Max Request Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Topic Name":{"name":"Topic Name","displayName":"Topic Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Kafka Key":{"name":"Kafka Key","displayName":"Kafka Key","identifiesControllerService":false,"sensitive":false,"dynamic":false},"partition":{"name":"partition","displayName":"Partition","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Kafka Connection Service":{"name":"Kafka Connection Service","displayName":"Kafka Connection Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Publish Strategy":{"name":"Publish Strategy","displayName":"Publish Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Key Writer":{"name":"Record Key Writer","displayName":"Record Key Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Failure Strategy":{"name":"Failure Strategy","displayName":"Failure Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"partitioner.class":{"name":"partitioner.class","displayName":"Partitioner Class","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Transactions Enabled":{"name":"Transactions Enabled","displayName":"Transactions Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Message Key Field":{"name":"Message Key Field","displayName":"Message Key Field","identifiesControllerService":false,"sensitive":false,"dynamic":false},"FlowFile Attribute Header Pattern":{"name":"FlowFile Attribute Header Pattern","displayName":"FlowFile Attribute Header Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f35dfed5-6e7e-33cd-8455-234c0136d8c7"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"10fd999d-f1e0-3d20-af8c-105b3b84918c","instanceIdentifier":"3f9868fb-0196-1000-9cff-06e38e7716f7","name":"","source":{"id":"90457817-e049-34b1-9f7a-c34bc93e71fc","type":"PROCESSOR","groupId":"f35dfed5-6e7e-33cd-8455-234c0136d8c7","name":"P.1-QueryDatabaseTable","comments":"","instanceIdentifier":"b55d4537-4750-36f4-d706-dacc8a2d091e"},"destination":{"id":"d1fd750d-d5f6-3935-b75c-acf060301cb4","type":"PROCESSOR","groupId":"f35dfed5-6e7e-33cd-8455-234c0136d8c7","name":"P.2-ConvertRecord","comments":"","instanceIdentifier":"ea650125-b3d2-3514-90e1-5d1240232422"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f35dfed5-6e7e-33cd-8455-234c0136d8c7"},{"identifier":"ba766c8f-398b-3a4e-89ee-c936d6ca8fb4","instanceIdentifier":"3f9932e2-0196-1000-d34c-6f7dde2489ae","name":"","source":{"id":"34c944c5-bee6-32d9-b793-2988478f5f6e","type":"PROCESSOR","groupId":"f35dfed5-6e7e-33cd-8455-234c0136d8c7","name":"P.3-SplitJson","comments":"","instanceIdentifier":"4d3bf24a-e964-32e1-75a7-ada948f32adc"},"destination":{"id":"eb805579-ef56-30cf-a613-6b40e3d47a7c","type":"FUNNEL","groupId":"f35dfed5-6e7e-33cd-8455-234c0136d8c7","name":"Funnel","comments":"","instanceIdentifier":"3f990b59-0196-1000-b489-6bdced1acc01"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":560.0,"y":-112.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f35dfed5-6e7e-33cd-8455-234c0136d8c7"},{"identifier":"e28ae626-d7d4-3716-a4ff-ce35caae79fc","instanceIdentifier":"ecd73abf-4720-3e8b-1cf6-9fa4c1c8f249","name":"","source":{"id":"e6885254-0252-332c-aac8-77b17af96ad8","type":"PROCESSOR","groupId":"f35dfed5-6e7e-33cd-8455-234c0136d8c7","name":"P5-PublishKafka","comments":"","instanceIdentifier":"9bb6f370-cd3d-325a-47ca-661cc2cb64d5"},"destination":{"id":"c2b4accf-b9ec-3f60-820b-9c345e4127de","type":"FUNNEL","groupId":"f35dfed5-6e7e-33cd-8455-234c0136d8c7","name":"Funnel","comments":"","instanceIdentifier":"ffc97f4f-7d3d-3d3f-0393-98d3b34b0158"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f35dfed5-6e7e-33cd-8455-234c0136d8c7"},{"identifier":"a184908a-731d-3489-be04-11e1edfbbbbd","instanceIdentifier":"3f99aeb6-0196-1000-30c5-a33d3b9879f9","name":"","source":{"id":"34c944c5-bee6-32d9-b793-2988478f5f6e","type":"PROCESSOR","groupId":"f35dfed5-6e7e-33cd-8455-234c0136d8c7","name":"P.3-SplitJson","comments":"","instanceIdentifier":"4d3bf24a-e964-32e1-75a7-ada948f32adc"},"destination":{"id":"eb805579-ef56-30cf-a613-6b40e3d47a7c","type":"FUNNEL","groupId":"f35dfed5-6e7e-33cd-8455-234c0136d8c7","name":"Funnel","comments":"","instanceIdentifier":"3f990b59-0196-1000-b489-6bdced1acc01"},"labelIndex":0,"zIndex":0,"selectedRelationships":["original"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f35dfed5-6e7e-33cd-8455-234c0136d8c7"},{"identifier":"909f782e-e532-3644-9ef3-afd89da01ea9","instanceIdentifier":"221e967a-09e6-3a50-8332-4a823a494f72","name":"","source":{"id":"426cce26-0070-351d-9d20-5c95d7417859","type":"PROCESSOR","groupId":"f35dfed5-6e7e-33cd-8455-234c0136d8c7","name":"P.4-MergeContent","comments":"","instanceIdentifier":"322d1e83-e6f3-33b3-9d67-4e1b5c8a0ca5"},"destination":{"id":"acee9d3f-6470-3150-a23c-83ac0fa239d8","type":"FUNNEL","groupId":"f35dfed5-6e7e-33cd-8455-234c0136d8c7","name":"Funnel","comments":"","instanceIdentifier":"99a40a52-7a74-3bce-6b7b-115722464233"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-768.0,"y":-160.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f35dfed5-6e7e-33cd-8455-234c0136d8c7"},{"identifier":"53a08e6d-5cde-3851-be7e-9952a0fb3ea3","instanceIdentifier":"0a8362c7-2a2e-3b3b-eb00-98c24d9cca17","name":"","source":{"id":"426cce26-0070-351d-9d20-5c95d7417859","type":"PROCESSOR","groupId":"f35dfed5-6e7e-33cd-8455-234c0136d8c7","name":"P.4-MergeContent","comments":"","instanceIdentifier":"322d1e83-e6f3-33b3-9d67-4e1b5c8a0ca5"},"destination":{"id":"acee9d3f-6470-3150-a23c-83ac0fa239d8","type":"FUNNEL","groupId":"f35dfed5-6e7e-33cd-8455-234c0136d8c7","name":"Funnel","comments":"","instanceIdentifier":"99a40a52-7a74-3bce-6b7b-115722464233"},"labelIndex":0,"zIndex":0,"selectedRelationships":["merged"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"10 min","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f35dfed5-6e7e-33cd-8455-234c0136d8c7"},{"identifier":"33c71fce-414d-34f0-ade7-3af327d8dd32","instanceIdentifier":"588f10ef-0196-1000-0779-7b750d0e2448","name":"","source":{"id":"9455f1fb-6da2-39e0-b584-f84678b60c7d","type":"PROCESSOR","groupId":"f35dfed5-6e7e-33cd-8455-234c0136d8c7","name":"P.6-PutDatabaseRecord","comments":"","instanceIdentifier":"588ea648-0196-1000-d5bb-b08b6489929c"},"destination":{"id":"fbc086da-9fb8-382f-9cfc-c4411c06eec0","type":"FUNNEL","groupId":"f35dfed5-6e7e-33cd-8455-234c0136d8c7","name":"Funnel","comments":"","instanceIdentifier":"7580ce3d-cd45-39ad-f60e-a3e2a009be9f"},"labelIndex":0,"zIndex":0,"selectedRelationships":["retry"],"backPressureObjectThreshold":100000,"backPressureDataSizeThreshold":"10 GB","flowFileExpiration":"10 min","prioritizers":[],"bends":[{"x":568.0,"y":304.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f35dfed5-6e7e-33cd-8455-234c0136d8c7"},{"identifier":"642944e2-b81a-30d3-b2f1-6e1bee036ded","instanceIdentifier":"ca08cc6e-7b91-3a0b-8d07-9c70d1b6cef5","name":"","source":{"id":"d1fd750d-d5f6-3935-b75c-acf060301cb4","type":"PROCESSOR","groupId":"f35dfed5-6e7e-33cd-8455-234c0136d8c7","name":"P.2-ConvertRecord","comments":"","instanceIdentifier":"ea650125-b3d2-3514-90e1-5d1240232422"},"destination":{"id":"26090091-f1e8-375d-9fb1-d4cccea93274","type":"FUNNEL","groupId":"f35dfed5-6e7e-33cd-8455-234c0136d8c7","name":"Funnel","comments":"","instanceIdentifier":"c5634829-d253-3e7d-b4e8-66b9566e99e3"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f35dfed5-6e7e-33cd-8455-234c0136d8c7"},{"identifier":"8eda68c1-c9f3-36b2-91e0-323133219e24","instanceIdentifier":"588ed823-0196-1000-561a-eac714927608","name":"","source":{"id":"e6885254-0252-332c-aac8-77b17af96ad8","type":"PROCESSOR","groupId":"f35dfed5-6e7e-33cd-8455-234c0136d8c7","name":"P5-PublishKafka","comments":"","instanceIdentifier":"9bb6f370-cd3d-325a-47ca-661cc2cb64d5"},"destination":{"id":"9455f1fb-6da2-39e0-b584-f84678b60c7d","type":"PROCESSOR","groupId":"f35dfed5-6e7e-33cd-8455-234c0136d8c7","name":"P.6-PutDatabaseRecord","comments":"","instanceIdentifier":"588ea648-0196-1000-d5bb-b08b6489929c"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":350000,"backPressureDataSizeThreshold":"35 GB","flowFileExpiration":"10 min","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f35dfed5-6e7e-33cd-8455-234c0136d8c7"},{"identifier":"dc61e755-9c7e-3789-ad4b-52d610374804","instanceIdentifier":"588f20c3-0196-1000-02ea-dd2111d6adf0","name":"","source":{"id":"9455f1fb-6da2-39e0-b584-f84678b60c7d","type":"PROCESSOR","groupId":"f35dfed5-6e7e-33cd-8455-234c0136d8c7","name":"P.6-PutDatabaseRecord","comments":"","instanceIdentifier":"588ea648-0196-1000-d5bb-b08b6489929c"},"destination":{"id":"fbc086da-9fb8-382f-9cfc-c4411c06eec0","type":"FUNNEL","groupId":"f35dfed5-6e7e-33cd-8455-234c0136d8c7","name":"Funnel","comments":"","instanceIdentifier":"7580ce3d-cd45-39ad-f60e-a3e2a009be9f"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":100000,"backPressureDataSizeThreshold":"10 GB","flowFileExpiration":"10 min","prioritizers":[],"bends":[{"x":560.0,"y":120.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f35dfed5-6e7e-33cd-8455-234c0136d8c7"},{"identifier":"1962567e-c06a-3676-8695-03f51f3024d4","instanceIdentifier":"588f02a2-0196-1000-f189-3d3272636ac5","name":"","source":{"id":"9455f1fb-6da2-39e0-b584-f84678b60c7d","type":"PROCESSOR","groupId":"f35dfed5-6e7e-33cd-8455-234c0136d8c7","name":"P.6-PutDatabaseRecord","comments":"","instanceIdentifier":"588ea648-0196-1000-d5bb-b08b6489929c"},"destination":{"id":"fbc086da-9fb8-382f-9cfc-c4411c06eec0","type":"FUNNEL","groupId":"f35dfed5-6e7e-33cd-8455-234c0136d8c7","name":"Funnel","comments":"","instanceIdentifier":"7580ce3d-cd45-39ad-f60e-a3e2a009be9f"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":450000,"backPressureDataSizeThreshold":"45 GB","flowFileExpiration":"10 min","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f35dfed5-6e7e-33cd-8455-234c0136d8c7"},{"identifier":"b9934a9e-6821-3a44-bf54-04922b7c4df5","instanceIdentifier":"3f9a5ff7-0196-1000-41a1-359dd2684407","name":"","source":{"id":"34c944c5-bee6-32d9-b793-2988478f5f6e","type":"PROCESSOR","groupId":"f35dfed5-6e7e-33cd-8455-234c0136d8c7","name":"P.3-SplitJson","comments":"","instanceIdentifier":"4d3bf24a-e964-32e1-75a7-ada948f32adc"},"destination":{"id":"426cce26-0070-351d-9d20-5c95d7417859","type":"PROCESSOR","groupId":"f35dfed5-6e7e-33cd-8455-234c0136d8c7","name":"P.4-MergeContent","comments":"","instanceIdentifier":"322d1e83-e6f3-33b3-9d67-4e1b5c8a0ca5"},"labelIndex":0,"zIndex":0,"selectedRelationships":["split"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f35dfed5-6e7e-33cd-8455-234c0136d8c7"},{"identifier":"25688fbf-d109-3f22-acdb-5d6f05933037","instanceIdentifier":"3f997445-0196-1000-efa6-a4b6b67a15e9","name":"","source":{"id":"d1fd750d-d5f6-3935-b75c-acf060301cb4","type":"PROCESSOR","groupId":"f35dfed5-6e7e-33cd-8455-234c0136d8c7","name":"P.2-ConvertRecord","comments":"","instanceIdentifier":"ea650125-b3d2-3514-90e1-5d1240232422"},"destination":{"id":"34c944c5-bee6-32d9-b793-2988478f5f6e","type":"PROCESSOR","groupId":"f35dfed5-6e7e-33cd-8455-234c0136d8c7","name":"P.3-SplitJson","comments":"","instanceIdentifier":"4d3bf24a-e964-32e1-75a7-ada948f32adc"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f35dfed5-6e7e-33cd-8455-234c0136d8c7"},{"identifier":"c1503b3c-013a-3473-bbc2-24aa58d34673","instanceIdentifier":"3f9a87ec-0196-1000-a23d-6e6181cff651","name":"","source":{"id":"426cce26-0070-351d-9d20-5c95d7417859","type":"PROCESSOR","groupId":"f35dfed5-6e7e-33cd-8455-234c0136d8c7","name":"P.4-MergeContent","comments":"","instanceIdentifier":"322d1e83-e6f3-33b3-9d67-4e1b5c8a0ca5"},"destination":{"id":"e6885254-0252-332c-aac8-77b17af96ad8","type":"PROCESSOR","groupId":"f35dfed5-6e7e-33cd-8455-234c0136d8c7","name":"P5-PublishKafka","comments":"","instanceIdentifier":"9bb6f370-cd3d-325a-47ca-661cc2cb64d5"},"labelIndex":0,"zIndex":0,"selectedRelationships":["original"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f35dfed5-6e7e-33cd-8455-234c0136d8c7"}],"labels":[],"funnels":[{"identifier":"acee9d3f-6470-3150-a23c-83ac0fa239d8","instanceIdentifier":"99a40a52-7a74-3bce-6b7b-115722464233","position":{"x":-984.0,"y":-88.0},"componentType":"FUNNEL","groupIdentifier":"f35dfed5-6e7e-33cd-8455-234c0136d8c7"},{"identifier":"26090091-f1e8-375d-9fb1-d4cccea93274","instanceIdentifier":"c5634829-d253-3e7d-b4e8-66b9566e99e3","position":{"x":704.0,"y":-256.0},"componentType":"FUNNEL","groupIdentifier":"f35dfed5-6e7e-33cd-8455-234c0136d8c7"},{"identifier":"fbc086da-9fb8-382f-9cfc-c4411c06eec0","instanceIdentifier":"7580ce3d-cd45-39ad-f60e-a3e2a009be9f","position":{"x":712.0,"y":200.0},"componentType":"FUNNEL","groupIdentifier":"f35dfed5-6e7e-33cd-8455-234c0136d8c7"},{"identifier":"eb805579-ef56-30cf-a613-6b40e3d47a7c","instanceIdentifier":"3f990b59-0196-1000-b489-6bdced1acc01","position":{"x":737.4106483291305,"y":-35.006119840518465},"componentType":"FUNNEL","groupIdentifier":"f35dfed5-6e7e-33cd-8455-234c0136d8c7"},{"identifier":"c2b4accf-b9ec-3f60-820b-9c345e4127de","instanceIdentifier":"ffc97f4f-7d3d-3d3f-0393-98d3b34b0158","position":{"x":-984.0,"y":128.0},"componentType":"FUNNEL","groupIdentifier":"f35dfed5-6e7e-33cd-8455-234c0136d8c7"}],"controllerServices":[{"identifier":"8c46f2d6-68ab-3431-86db-a2f8cb4e0e0b","instanceIdentifier":"5890ed0b-0196-1000-d994-b90e36c0d5c6","name":"JsonTreeReader","comments":"","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.2.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"Max String Length":"20 MB","schema-application-strategy":"SELECTED_PART","Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-name":"${schema.name}","starting-field-strategy":"ROOT_NODE","schema-registry":null,"starting-field-name":null,"Time Format":null,"schema-access-strategy":"infer-schema","schema-version":null,"schema-text":"${avro.schema}","Allow Comments":"false"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-application-strategy":{"name":"schema-application-strategy","displayName":"Schema Application Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"starting-field-strategy":{"name":"starting-field-strategy","displayName":"Starting Field Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"starting-field-name":{"name":"starting-field-name","displayName":"Starting Field Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Comments":{"name":"Allow Comments","displayName":"Allow Comments","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.2.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"f35dfed5-6e7e-33cd-8455-234c0136d8c7"},{"identifier":"4ffbe41a-04ea-3e79-8c1a-0cd91cc6fb8f","instanceIdentifier":"8cbaa0e5-e969-3259-5c6c-47e9b839dd0a","name":"DBCPConnectionPool tension_dep","comments":"","type":"org.apache.nifi.dbcp.DBCPConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-dbcp-service-nar","version":"2.2.0"},"properties":{"dbcp-min-idle-conns":"0","Max Wait Time":"500 millis","Database Driver Class Name":"org.postgresql.Driver","dbcp-min-evictable-idle-time":"30 mins","Max Total Connections":"8","dbcp-max-conn-lifetime":"-1","Validation-query":null,"Database Connection URL":"jdbc:postgresql://postgres_centrosur:5432/centrosur","dbcp-time-between-eviction-runs":"-1","Database User":"postgres","kerberos-user-service":null,"dbcp-soft-min-evictable-idle-time":"-1","database-driver-locations":"/opt/nifi/nifi-current/drivers/postgresql-42.7.1.jar","dbcp-max-idle-conns":"8"},"propertyDescriptors":{"dbcp-min-idle-conns":{"name":"dbcp-min-idle-conns","displayName":"Minimum Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Driver Class Name":{"name":"Database Driver Class Name","displayName":"Database Driver Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-min-evictable-idle-time":{"name":"dbcp-min-evictable-idle-time","displayName":"Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Total Connections":{"name":"Max Total Connections","displayName":"Max Total Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-max-conn-lifetime":{"name":"dbcp-max-conn-lifetime","displayName":"Max Connection Lifetime","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Validation-query":{"name":"Validation-query","displayName":"Validation query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection URL":{"name":"Database Connection URL","displayName":"Database Connection URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-time-between-eviction-runs":{"name":"dbcp-time-between-eviction-runs","displayName":"Time Between Eviction Runs","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database User":{"name":"Database User","displayName":"Database User","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"dbcp-soft-min-evictable-idle-time":{"name":"dbcp-soft-min-evictable-idle-time","displayName":"Soft Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"database-driver-locations":{"name":"database-driver-locations","displayName":"Database Driver Location(s)","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","URL","FILE"]}},"dbcp-max-idle-conns":{"name":"dbcp-max-idle-conns","displayName":"Max Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.2.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"f35dfed5-6e7e-33cd-8455-234c0136d8c7"},{"identifier":"8401e8cd-0a28-3375-a10c-355c03db2f15","instanceIdentifier":"43e3dd73-6ef9-348a-8de8-0bd91ce32e31","name":"Kafka3ConnectionService","comments":"","type":"org.apache.nifi.kafka.service.Kafka3ConnectionService","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-3-service-nar","version":"2.2.0"},"properties":{"security.protocol":"PLAINTEXT","SSL Context Service":null,"ack.wait.time":"5 sec","sasl.username":null,"max.poll.records":"10000","sasl.mechanism":"GSSAPI","isolation.level":"read_committed","max.block.ms":"5 sec","bootstrap.servers":"kafka_centrosur:9092","kerberos-user-service":null,"sasl.kerberos.service.name":null,"default.api.timeout.ms":"60 sec"},"propertyDescriptors":{"ack.wait.time":{"name":"ack.wait.time","displayName":"Acknowledgment Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sasl.username":{"name":"sasl.username","displayName":"SASL Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max.poll.records":{"name":"max.poll.records","displayName":"Max Poll Records","identifiesControllerService":false,"sensitive":false,"dynamic":false},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Bootstrap Servers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false,"dynamic":false},"isolation.level":{"name":"isolation.level","displayName":"Transaction Isolation Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max.block.ms":{"name":"max.block.ms","displayName":"Max Metadata Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sasl.password":{"name":"sasl.password","displayName":"SASL Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"default.api.timeout.ms":{"name":"default.api.timeout.ms","displayName":"Client Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.kafka.service.api.KafkaConnectionService","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-service-api-nar","version":"2.2.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"f35dfed5-6e7e-33cd-8455-234c0136d8c7"},{"identifier":"698f45c8-cd4c-3928-beb2-0db776791738","instanceIdentifier":"58936038-0196-1000-ad31-6ee694e29e80","name":"DBCPConnectionPool Base Prueba","comments":"","type":"org.apache.nifi.dbcp.DBCPConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-dbcp-service-nar","version":"2.2.0"},"properties":{"dbcp-min-idle-conns":"0","Max Wait Time":"500 millis","Database Driver Class Name":"org.postgresql.Driver","dbcp-min-evictable-idle-time":"30 mins","Max Total Connections":"8","dbcp-max-conn-lifetime":"-1","Validation-query":null,"Database Connection URL":"jdbc:postgresql://postgres_centrosur:5432/base_prueba","dbcp-time-between-eviction-runs":"-1","Database User":"postgres","kerberos-user-service":null,"dbcp-soft-min-evictable-idle-time":"-1","database-driver-locations":"/opt/nifi/nifi-current/drivers/postgresql-42.7.1.jar","dbcp-max-idle-conns":"8"},"propertyDescriptors":{"dbcp-min-idle-conns":{"name":"dbcp-min-idle-conns","displayName":"Minimum Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Driver Class Name":{"name":"Database Driver Class Name","displayName":"Database Driver Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-min-evictable-idle-time":{"name":"dbcp-min-evictable-idle-time","displayName":"Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Total Connections":{"name":"Max Total Connections","displayName":"Max Total Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-max-conn-lifetime":{"name":"dbcp-max-conn-lifetime","displayName":"Max Connection Lifetime","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Validation-query":{"name":"Validation-query","displayName":"Validation query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection URL":{"name":"Database Connection URL","displayName":"Database Connection URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-time-between-eviction-runs":{"name":"dbcp-time-between-eviction-runs","displayName":"Time Between Eviction Runs","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database User":{"name":"Database User","displayName":"Database User","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"dbcp-soft-min-evictable-idle-time":{"name":"dbcp-soft-min-evictable-idle-time","displayName":"Soft Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"database-driver-locations":{"name":"database-driver-locations","displayName":"Database Driver Location(s)","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","URL","FILE"]}},"dbcp-max-idle-conns":{"name":"dbcp-max-idle-conns","displayName":"Max Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.2.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"f35dfed5-6e7e-33cd-8455-234c0136d8c7"},{"identifier":"8d775c29-b4c5-39c1-9b37-97e5c2c0bd84","instanceIdentifier":"db7f309f-aeee-352b-3e22-76e5f91a9667","name":"AvroReader","comments":"","type":"org.apache.nifi.avro.AvroReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.2.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"schema-name":"${schema.name}","cache-size":"100000","schema-registry":null,"schema-access-strategy":"embedded-avro-schema","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"cache-size":{"name":"cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.2.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"f35dfed5-6e7e-33cd-8455-234c0136d8c7"},{"identifier":"76ca5099-75a9-3496-8eaa-5b9e00d9851f","instanceIdentifier":"70eb99eb-7cc2-3ec1-c7d4-c9b75d3ddff1","name":"JsonRecordSetWriter","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.2.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"Allow Scientific Notation":"false","compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"inherit-record-schema","schema-version":null,"schema-text":"${avro.schema}","Schema Reference Writer":null},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Scientific Notation":{"name":"Allow Scientific Notation","displayName":"Allow Scientific Notation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false,"dynamic":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Writer":{"name":"Schema Reference Writer","displayName":"Schema Reference Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.2.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"f35dfed5-6e7e-33cd-8455-234c0136d8c7"}],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"ac9746e6-310b-3fc4-ab44-5c7dc4cfadca"}],"remoteProcessGroups":[],"processors":[],"inputPorts":[],"outputPorts":[],"connections":[],"labels":[{"identifier":"ea0a16a7-0195-1000-1116-80621f0f45f8","instanceIdentifier":"695634d1-2f56-338a-048b-c4150475faa5","position":{"x":248.0,"y":-368.0},"label":"Grupo que consume los datos publicados en Kafka mediante el tema : tension-data, y el grupo creado llamado tension-dep-consumer-group , del cual maneja los valores en json para volverlos a insertar especificando las tablas y insertarlos en una nueva BD Prueba con la tabla tension_dep_processed ","zIndex":0,"width":392.0,"height":160.0,"style":{"font-size":"16px"},"componentType":"LABEL","groupIdentifier":"ac9746e6-310b-3fc4-ab44-5c7dc4cfadca"},{"identifier":"ea0a0a99-0195-1000-0484-6ccb6c4e53d1","instanceIdentifier":"46fc0756-6315-3354-9ac4-c824555cdae9","position":{"x":-344.0,"y":-352.0},"label":"Grupo que Produce o obtiene de la BD la tabla tension_dep de todos sus registros se transforman  de avro(que vienen de la BD) a json para un mejor manejo y estos datos se los publica a Kafka en el tema :tension-data \n","zIndex":0,"width":392.0,"height":136.0,"style":{"font-size":"16px"},"componentType":"LABEL","groupIdentifier":"ac9746e6-310b-3fc4-ab44-5c7dc4cfadca"}],"funnels":[],"controllerServices":[],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}